h3 Latest Feed
  small Latest Feed From yabrFish

.container-fluid(ng-controller="MasonryDeckController as deck")
  .deckgrid.clearfix(deckgrid='', source='deck.photos', cardtemplate="{{deck.basepath('grid-masonry-deck-card.html')}}")
