h3 Your Feeds

//ROW

// START row
.row
  .col-sm-6
    // START widget
    .yabrTile.widget
      .yabrTile-body
        .row.row-table
          .col-xs-6.text-center
            img.img-circle.thumb96(src='app/img/Suppliers/nielson/oct-half-term-sq.png', alt="Image")
          .col-xs-6
            h3.mt0 Nielson Holidays
            ul.list-unstyled
              li.mb-sm
                em.fa.fa-map-marker.fa-fw
                |  ASD, Qwerty
              li.mb-sm
                em.fa.fa-twitter.fa-fw
                |  @asdasd
              li.mb-sm
                em.fa.fa-envelope.fa-fw
                |  asdasd@mail.com
      .yabrTile-body.bg-inverse
        .row.row-table.text-center
          .col-xs-4
            p.m0.h3 700
            p.m0.text-muted Followers
          .col-xs-4
            p.m0.h3 1500
            p.m0.text-muted Following
          .col-xs-4
            p.m0.h3 510
            p.m0.text-muted Loved
    // END widget
  .col-sm-6
    // START widget
    .yabrTile.widget
      .yabrTile-body
        .row.row-table
          .col-xs-6.text-center
            img.img-circle.thumb96(src='app/img/user/09.jpg', alt="Image")
          .col-xs-6
            h3.mt0 Paddle Boarding
            ul.list-unstyled
              li.mb-sm
                em.fa.fa-map-marker.fa-fw
                |  ASD, Qwerty
              li.mb-sm
                em.fa.fa-twitter.fa-fw
                |  @asdasd
              li.mb-sm
                em.fa.fa-envelope.fa-fw
                |  asdasd@mail.com
      .yabrTile-body.bg-inverse
        .row.row-table.text-center
          .col-xs-4
            p.m0.h3 700
            p.m0.text-muted Followers
          .col-xs-4
            p.m0.h3 1500
            p.m0.text-muted Following
          .col-xs-4
            p.m0.h3 510
            p.m0.text-muted Loved
    // END widget

// START row
.row
  .col-sm-6
    // START widget
    .panel.widget
      .row.row-table.row-flush
        .col-xs-5
          img.img-circle.thumb96(src="app/img/bg2.jpg", alt="")
        .col-xs-7.align-middle.p-lg
          .pull-right
            a(href="#").btn.btn-primary.btn-sm Register
          p
            span.text-lg 12
            | Sep
          p: strong EVENT INVITATION
          p Southampton Boat Show
    // END widget

  .col-sm-6
    // START widget
    .panel.widget
      .panel-body.bg-danger.text-center
        .clearfix
          .pull-left 200 Following
          .pull-right 150 Followers
        img.img-thumbnail.img-circle.thumb96(src="app/img/user/06.jpg", alt="Image")
        h4.mt0 Lois Berry
        p.m0
          em.fa.fa-fw.fa-map-marker
          |  San Francisco, California
        .clearfix
          .pull-left 15k Likes
          .pull-right 100 Feeds
    // END widget
