<div class="poolContainer">
    <div class="poolRing">
      <div class="pollAnswerBar">
        <div id="slice">
          <div class="pie"></div>
        </div>
      </div>
    </div>

    <div class="poolDotContainer">
      <div id="circle">
        <div class="circleBg" ng-if="contents.length > 0">
          <img ng-if="circleType == 'class'" src="{{content.flag}}"/>
          <span>{{content.name}}</span>
        </div>
        <div class="circleBg" ng-if="contents.length == 0">
          <span>No Slider</span>
        </div>
        <div id="slider"></div>
      </div>
    </div>
    
    <div class="steps">{{step}} / {{contents.length}}</div>
</div>

