<div class="event-wrap">
   <div class="events">
      <div class="index">{{carouselIndex + 1}}</div>
      <ul rn-carousel="" rn-carousel-controls="" rn-carousel-index="carouselIndex" rn-carousel-buffered="" class="list-unstyled carousel">
         <li class="slide animation" ng-repeat="event in events">
            <div ng-if="event != 'addEvent'">               
               <div class="calendar-wrap">
                  <img class="calendar" src="app/img/cal-icon.png" alt="">
                  <span class="month">{{event.month}}</span>
                  <span class="date">{{event.date}}</span>
               </div>
               <div class="event-name" ng-class="{'selected': selectedEvent == event.eventId}">
                  <h4 ng-click="selectEvent(event, events.length)">{{event.name}}</h4>                  
               </div>
            </div>
            <div ng-if="event == 'addEvent'">
               <img class="add-event" src="app/img/add-rec.png">
               <h4 class="event-name">Add Event</h4>
            </div>
         </li>
      </ul>
   </div>
</div>