<div class="event-wrap">
   <div class="arrow left-arrow" ng-click="slideEvents('left')"><i class="fa fa-angle-left"></i></div>
   <div class="index">{{carouselIndex + 1}}</div>
   <div class="events" ng-if="events.length > 0">
      <!-- <ul rn-carousel="" rn-carousel-index="carouselIndex" rn-carousel-buffered="" class="list-unstyled carousel">
         <li id="{{'event_'+event.externalId}}" class="slide animation" ng-repeat="event in events">
            <div class="event-heading" ng-if="event != 'addEvent'">
               <div class="calendar-wrap">
                  <img class="calendar" src="app/img/cal-icon.png" alt="">
                  <span class="month">{{event.month}}</span>
                  <span class="date">{{event.date}}</span>
               </div>
               <div class="event-name" ng-class="{'selected': selectedEvent == event.eventId}">
                  <h4>{{event.name}}</h4>
               </div>
            </div>
            <div ng-if="event == 'addEvent'">
               <img class="add-event" src="app/img/add-rec.png">
               <h4 class="event-name">Add Event</h4>
            </div>
            <class-list class="class-list" tile="tile" event="event"></class-list>
            <race-list class="race-list" tile="tile" event="event"></race-list>
         </li>
      </ul> -->
      <div class="event-slider" ng-style="{'transform': transform, '-webkit-transform': transform, '-ms-transform': transform, '-moz-transform': transform, '-o-transform': transform, 'width': eventSliderWidth}">
         <div class="slide" ng-repeat="event in events track by $index" ng-style="{'width': eventWidth}">
            <div class="event-heading" ng-if="event != 'addEvent'">
               <div class="calendar-wrap">
                  <img class="calendar" src="app/img/cal-icon.png" alt="">
                  <span class="month">{{event.month}}</span>
                  <span class="date">{{event.date}}</span>
               </div>
               <div class="event-name" ng-class="{'selected': selectedEvent == event.eventId}">
                  <h4>{{event.name}}</h4>
               </div>
            </div>
            <div ng-if="event == 'addEvent'">
               <img class="add-event" src="app/img/add-rec.png">
               <h4 class="event-name">Add Event</h4>
            </div>
            <class-list class="class-list" tile="tile" event="event" event-index="$index"></class-list>
            <race-list class="race-list" tile="tile" event="event" event-index="$index"></race-list>
         </div>
      </div>
   </div>
   <div class="arrow right-arrow" ng-click="slideEvents('right')"><i class="fa fa-angle-right"></i></div>
</div>