<p class="full-address" ng-if="hasLocations">{{locations[0].fullAddress}}</p>
<input id="{{'pacInput_'+accountId}}" class="controls pac-input" type="text" placeholder="Search Box">
<div id="{{'map_'+accountId}}" class="map-content" map></div>
<div>
	<input type="text" class="short-address form-control" ng-model="location_name" placeholder="{{locations[0].name}}" />
	<button ng-if="!hasLocations" class="add-location btn" ng-click="addLocation()">Add</button>
	<button ng-if="hasLocations" class="add-location btn" ng-click="updateLocation()">Update</button>                  
</div>