<!-- Inline template with sidebar items markup and ng-directives-->
<script type="text/ng-template" id="sidebar-renderer.html">
   <span ng-if="item.heading">{{(item.translate | translate) || item.text}}</span>
   <a ng-if="getMenuItemPropClasses(item)" ng-class="getMenuItemPropClasses(item)" ng-href="{{$state.href(item.sref, item.params)}}" title="{{item.text}}" ng-init="imgsrc=item.selicon" ng-mouseover="imgsrc=item.selicon">   
      <div ng-if="item.alert" ng-class="item.label || 'label label-success'" class="pull-right">{{item.alert}}</div>
      <img ng-if="item.icon" ng-src="{{imgsrc}}"></img>
      <span>{{(item.translate | translate) || item.text}}</span>
      <i class="fa fa-angle-right"></i>
   </a>
   <a ng-if="!getMenuItemPropClasses(item)" ng-href="{{$state.href(item.sref, item.params)}}" title="{{item.text}}" ng-init="imgsrc=item.icon" ng-mouseover="imgsrc=item.selicon" ng-mouseout="imgsrc=item.icon">   
      <div ng-if="item.alert" ng-class="item.label || 'label label-success'" class="pull-right">{{item.alert}}</div>
      <img ng-if="item.icon" ng-src="{{imgsrc}}"></img>
      <span>{{(item.translate | translate) || item.text}}</span>
      <i class="fa fa-angle-right"></i>
   </a>
   <ul ng-if="item.submenu" collapse="isCollapse(pIndex)" ng-init="addCollapse(pIndex, item)" class="nav sidebar-subnav">
      <li class="sidebar-subnav-header">{{(item.translate | translate) || item.text}}</li>
      <li ng-repeat="item in item.submenu" ng-include="'sidebar-renderer.html'" ng-class="getMenuItemPropClasses(item)" ng-init="pIndex=(pIndex+'-'+$index); inSubmenu = true" ng-click="toggleCollapse(pIndex)"></li>
   </ul>
</script>
<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav sidebar="" sidebar-anyclick-close="true" class="sidebar">
      <div class="user-profile">
      	<img ng-if="!$root.logged || $root.user.avatarUrl==null" src="app/img/user/default.png"></img>
         <img ng-if="$root.logged && $root.user.avatarUrl" src="{{$root.user.avatarUrl}}"></img>
      	<div class="info">
	      	<span ng-if="$root.logged" class="username">{{$root.user.forename}}&nbsp;{{$root.user.surname}}</span>
	      	<a ng-href="#/app/profile" class="profile-link">View Profile</a>      		
      	</div>
      </div>
      <ul class="nav">
         <li ng-repeat="item in menuItems" ng-init="pIndex = $index" ng-include="'sidebar-renderer.html'"></li>
      </ul>
      <div class="sign-out">
         <a ng-if="$root.logged" ng-mouseover="signOver = true" ng-mouseout="signOver = false" ng-click="logout()">
            <img ng-if="!signOver" src="app/img/signout.png">
            <img ng-if="signOver" src="app/img/signout-o.png">
            <span>Sign Out</span>
         </a>
         <a ng-if="!$root.logged" ng-mouseover="signOver = true" ng-mouseout="signOver = false" ng-href="#/app/login">
            <img ng-if="!signOver" src="app/img/signout.png">
            <img ng-if="signOver" src="app/img/signout-o.png">
            <span>Sign In</span>
         </a>
      </div>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)