<div class="ribbon" ng-if="tile.segmentations[0].reason != ''"><span>{{tile.segmentations[0].reason}}</span></div>
<div class="img-video-wrap">
   <div class="tileImg">
      <img src="{{tile.creatives[0].url}}" alt="tile" class="" />
      <div ng-if="tile.tileType == 'content'" class="play-icon" ng-click="getVideoList()">
         <img src="app/img/tv-icon.png" />            
      </div>
   </div>
   <div class="youtubeVideo-wrap">
      <div class="youtubeVideo" ng-if="tile.showYoutube && $root.youtubePlay">
         <videogular class="y-video" vg-theme="tile.youtube.config.theme.url">
            <vg-media class="vg-media" vg-src="tile.youtube.config.sources" vg-youtube="rel=1;showinfo=1">
            </vg-media>
            <vg-controls vg-autohide="tile.youtube.config.plugins.controls.autoHide" vg-autohide-time="tile.youtube.config.plugins.controls.autoHideTime">
               <vg-play-pause-button></vg-play-pause-button>
               <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
               <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
               </vg-scrub-bar>
               <vg-volume>
                  <vg-mute-button></vg-mute-button>
                  <vg-volume-bar></vg-volume-bar>
               </vg-volume>
               <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
         </videogular>            
      </div>
      <a class="close-btn" ng-click="hideVideo(tile)"><img src="app/img/video-close.png" ng-if="tile.showYoutube"></a>
   </div>
   <div class="tileVideo">
      <sycovideo hls="tile.hls_source" id="tile.externalId"></sycovideo>
      <a class="close-btn" ng-click="hideVideo(tile)"><img src="app/img/video-close.png" ng-if="tile.hls_source"></a>
   </div>
</div>
<div ng-if="loading" class="ball-clip-rotate loading">
   <div></div>
</div>      
<div class="video-list" ng-if="videoList">
   <h4>Play List</h4>
   <ul ng-if="videoType == 'syco'">
      <li ng-repeat="video in videoList track by $index">            
         <a class="video" ng-click="videoPlay(video);">
            <div class="videoImage-wrap">
               <img class="videoImg" src="{{videoImages[$index]}}">
               <img class="videoIcon" src="app/img/tv-icon.png">
            </div>
            <div class="video-infos">
               <span>{{videoTitles[$index]}}</span>
               <span class="videoType">Sail TV</span>                     
            </div>
         </a>
      </li>
   </ul>
   <ul ng-if="videoType == 'youtube'">
      <li ng-repeat="video in videoTitles track by $index">
         <a class="video" ng-click="youtubeVideoPlay()">
            <img src="{{videoImages[$index]}}">
            <span>{{videoTitles[$index]}}</span>
            <span>YouTube</span>
         </a>
      </li>
   </ul>
</div>