<!--START Top Navbar-->
<nav role="navigation" class="navbar col-sm-12 topnavbar">
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Left navbar-->
      <ul class="nav navbar-nav left-navbar">
         <li>
            <a href="" ng-click="app.asideToggled = !app.asideToggled" class="sidebar-toggle">
               <img ng-if="!app.asideToggled" src="app/img/menu-icon.png">
               <img ng-if="app.asideToggled" src="app/img/menu-icon-sel.png">
            </a>
         </li>
      </ul>
      <!-- END Left navbar-->
      <!-- START navbar header-->
      <div class="navbar-header">
         <a href="#/" class="navbar-brand">
            <div class="brand-logo">
               <img src="app/img/logo.png" alt="App Logo" class="img-responsive" />
            </div>
         </a>
      </div>
      <!-- END navbar header-->
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-user navbar-right">
         <li class="notifications">
            <a>
               <img src="app/img/notifications.png">
            </a>
         </li>
         <!-- User -->
         <li class="user dropdown" dropdown="">
            <a class="dropdown-toggle" ng-href="{{'#/app/profile'}}">
               <img ng-if="!$root.logged || $root.user.avatarUrl==null" src="app/img/user/default.png" class="img-circle" />
               <img ng-if="$root.logged && $root.user.avatarUrl" src="{{$root.user.avatarUrl}}" class="img-circle" />
            </a>
         </li>
         <!-- <li class="user dropdown" dropdown="">
            <a class="dropdown-toggle" dropdown-toggle="">
               <img ng-if="!$root.logged || $root.user.avatarUrl==null" src="app/img/user/default.png" class="img-circle" />
               <img ng-if="$root.logged && $root.user.avatarUrl" src="{{$root.user.avatarUrl}}" class="img-circle" />
            </a>
            <ul class="dropdown-menu">
               <li><a ng-href="{{'#/app/profile'}}">Profile</a></li>
               <li><a ng-href="{{'#/app/profile/clubs'}}">Club</a></li>
               <li><a ng-href="{{'#/app/profile/equipment'}}">Equipment</a></li>
               <li><a ng-href="{{'#/app/login'}}" ng-if="!$root.logged">Login</a></li>
               <li><a ng-if="$root.logged" ng-click="logout()">Logout</a></li>
            </ul>            
         </li> -->
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar