<div ng-if="card == 'new-account'" ng-include="'app/views/profile-new-account.html'"></div>
<div ng-controller="accountController" ng-if="card != 'new-account'" id="{{'account_'+card.externalId}}" class="yabrTile-body">
   <div class="img-video-wrap">
      <div class="tileImg">
         <img ng-if="card.accountLogoUrl" src="{{card.accountLogoUrl}}" alt="tile" class="" />
         <div class="upload-img" ng-if="!card.accountLogoUrl">
            <img-upload account="card"></img-upload>
         </div>
      </div>      
   </div>   
   <div class="tile-infos">
      <h4 class="title">{{card.name}}<i class="fa fa-angle-right fg-lg"></i></h4>
      <p class="date"><span>{{card.publishedDate}}</span></p>      
      <div class="icons">
         <a class="check-btn"><img src="app/img/check.png"></a>
         <a class="net-btn"><img src="app/img/fish-net.png"></a>
         <a class="share-btn"><img src="app/img/share-alt.png"></a>
         <a class="comment-btn"><img src="app/img/comment.png"></a>
         <a class="more pull-right" ng-click="extendAccount(card)">
            <img ng-if="card.extendWrap" src="app/img/less.png">
            <img ng-if="!card.extendWrap" src="app/img/more.png">
         </a>
      </div>
      <loading></loading>      
      <accordion class="extend-wrap" ng-if="card.extendWrap" close-others="false">         
         <accordion-group is-open="card.showContacts">
            <accordion-heading class="enter-header">
               <img src="app/img/event.png">Contacts<i class="pull-right fa" ng-class="{'fa-angle-up': card.showContacts, 'fa-angle-down': !card.showContacts}"></i>
            </accordion-heading>
            <div>
               Contacts
            </div>
         </accordion-group>
         <accordion-group is-open="card.showLocations">
            <accordion-heading class="participant-header">
               <img src="app/img/location.png">Locations<i class="pull-right fa" ng-class="{'fa-angle-up': card.showLocations, 'fa-angle-down': !card.showLocations}"></i>
            </accordion-heading>
            <div class="location-content">
               <location account-id="card.externalId"></location>
            </div>
         </accordion-group>
         <accordion-group is-open="card.showServices">
            <accordion-heading class="crew-header">
               <img src="app/img/enter.png">Services<i class="pull-right fa" ng-class="{'fa-angle-up': card.showServices, 'fa-angle-down': !card.showServices}"></i>
            </accordion-heading>
            <div>
               Services
            </div>
         </accordion-group>
         <accordion-group is-open="card.showFollowTags">
            <accordion-heading class="actionReplay-header">
               <img src="app/img/participants.png">Follow Tags<i class="pull-right fa" ng-class="{'fa-angle-up': card.showFollowTags, 'fa-angle-down': !card.showFollowTags}"></i>
            </accordion-heading>
            <div>
               Follow Tags
            </div>
         </accordion-group>
         <accordion-group is-open="card.showOrganizations">
            <accordion-heading class="actionReplay-header">
               <img src="app/img/crew.png">Organizations<i class="pull-right fa" ng-class="{'fa-angle-up': card.showOrganizations, 'fa-angle-down': !card.showOrganizations}"></i>
            </accordion-heading>
            <div>
               <ul>
                  <li ng-repeat="organization in card.organizations">{{organization.name}}</li>
               </ul>
            </div>
         </accordion-group>
      </accordion>      
   </div>
</div>