<div class="profile-wrap club-profile" ng-init="getClub()">
  <h4 class="profile-title">Club Profile</h4>
  <div class="block club-about">
    <div class="club-info">
      <h4>{{club.name}}</h4>
      <div class="member-action">
        <select class="form-control">
          <option class="form-control">Remove</option>
          <option class="form-control">Member</option>
          <option class="form-control">Join</option>
          <option class="form-control">Event</option>
          <option class="form-control">Visit</option>
        </select>
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
    <div class="members">
      <span>Yabrfish Members</span><span class="member-count">2</span>
    </div>
    <div class="profile-header">
      <h4><img src="app/img/participants.png"><span>About</span><span class="mobile">About</span></h4>
      <a class="edit_info">Edit Information</a>
    </div>
    <div class="block-content">
      <ul>
        <li><img src="app/img/site.png"><span>{{club.contact_web}}</span></li>
        <li><img src="app/img/email.png"><span>{{club.contact_email}}</span></li>
        <li><img src="app/img/phone.png"><span>{{club.contact_phone}}</span></li>
        <li><img src="app/img/location-g.png"><span>Newport, Isle of Wight</span></li>
      </ul>
    </div>
  </div>
  <div class="block club-image">    
    <img src="{{club.accountLogoUrl}}">
    <button class="form-control">Upload photo</button>
  </div>
  <div html-sortable="sortableOptions">
    <div class="block club-bio">
      <div class="profile-header">
        <h4><img src="app/img/info.png" style="width: 20px;"><span style="margin-left: 10px;">Bio</span><span class="mobile" style="margin-left: 10px;">Bio</span></h4>
        <a class="edit_info">Edit Information</a>
      </div>
      <div class="block-content">
        <span>{{club.attr_bio}}</span>
      </div>
    </div>
    <div class="block my-classes">
      <div class="profile-header">
        <h4>
          <img src="app/img/tiles.png" style="width: 20px;">
          <span>My Classes</span>
          <span class="mobile">Classes</span>
        </h4>
        <a class="extend" ng-click="hideClasses = !hideClasses"><i class="fa" ng-class="{'fa-angle-up': !hideClasses, 'fa-angle-down': hideClasses}"></i></a>
        <a class="edit_info">Connect</a>
        <a class="edit_info mobile"><img src="app/img/office2.png"></a>
      </div>
      <div class="block-content" ng-hide="hideClasses">
        <classes-panel class="club-classes" owner-id="clubId"></classes-panel>
      </div>
    </div>
    <div class="block my-tiles">
      <div class="profile-header">
        <h4>
          <img src="app/img/tiles.png" style="width: 20px;">
          <span>My Tiles</span>
          <span class="mobile">Tiles</span>
        </h4>
        <a class="extend" ng-click="hideTiles = !hideTiles"><i class="fa" ng-class="{'fa-angle-up': !hideTiles, 'fa-angle-down': hideTiles}"></i></a>
        <a class="edit_info">Connect</a>
        <a class="edit_info mobile"><img src="app/img/office2.png"></a>
      </div>
      <div class="block-content" ng-hide="hideTiles">
        <tile-panel class="my-tiles" owner-type="'account'" owner-id="clubId"></tile-panel>
      </div>
    </div>
    <div class="block my-products">
      <div class="profile-header">
        <h4>
          <img src="app/img/tiles.png" style="width: 20px;">
          <span>My Products</span>
          <span class="mobile">Products</span>
        </h4>
        <a class="extend" ng-click="hideProducts = !hideProducts"><i class="fa" ng-class="{'fa-angle-up': !hideProducts, 'fa-angle-down': hideProducts}"></i></a>
        <a class="edit_info">Connect</a>
        <a class="edit_info mobile"><img src="app/img/office2.png"></a>
      </div>
      <div class="block-content" ng-hide="hideProducts">
        <product-panel class="my-products" owner-id="clubId"></product-panel>
      </div>
    </div>
    <div class="block services">
      <div class="profile-header">
        <h4><img src="app/img/service-icon.png" style="width: 20px;"><span style="margin-left: 10px;">Services</span><span class="mobile" style="margin-left: 10px;">Services</span></h4>
        <a class="edit_info">Add Equipment</a>
      </div>
      <div class="block-content">
        <span>My Equipments</span>
      </div>
    </div>
    <div class="block equipment">
      <div class="profile-header">
        <h4><img src="app/img/equipment-icon.png" style="width: 20px;"><span style="margin-left: 10px;">Club Equipment</span><span class="mobile" style="margin-left: 10px;">Equipment</span></h4>
        <a class="edit_info">Add Equipment</a>
      </div>
      <div class="block-content">
        <span></span>
      </div>
    </div>
    <div class="block location">
      <div class="profile-header">
        <h4><img src="app/img/location.png" style="width: 20px;"><span style="margin-left: 10px;">Location</span><span class="mobile" style="margin-left: 10px;">Location</span></h4>
        <a class="edit_info">Edit Location</a>
      </div>
      <div class="block-content">
        <location account-id="clubId"></location>
      </div>
    </div>
    <div class="block link-social">
      <div class="profile-header">
        <h4><img src="app/img/share-alt.png" style="width: 20px;"><span style="margin-left: 10px;">Link Social Media Accounts</span><span class="mobile" style="margin-left: 10px;">Link</span></h4>
      </div>
      <div class="block-content">
        <span></span>
      </div>
    </div>
    <div class="block club-members">
      <div class="profile-header">
        <h4><img src="app/img/member.png" style="width: 20px;"><span style="margin-left: 10px;">Club Members</span><span class="mobile" style="margin-left: 10px;">Members</span></h4>
        <a class="edit_info">Add Account Admin</a>
      </div>
      <div class="block-content">
        <people-panel class="people" owner-id="clubId"></people-panel>
      </div>
    </div>
  </div>
  
  <!-- <div class="buttons">
    <button class="update-profile btn pull-right" ng-click="updateProfile();">Save</button>
  </div> -->
</div>

<!-- Alert message-->
<div flash-message="3000" class="alert-message" ng-show="$root.hasFlash"></div>

