<div class="demo-wrapper">
	<div class="demo-content">
		<h4>Boat Demo Page</h4>
		<div class="people-list">
			<a class="people" ng-repeat="person in people"><img src="{{person.avatarUrl}}" ng-click="selPerson(person)" ng-class="currPerson == person? 'active' : ''"></a>			
		</div>
		<div html-sortable="sortableOptions">
			<div class="block my-equipment">
				<div class="profile-header">
					<h4><img src="app/img/equipment-icon.png" style="width: 20px;"><span>My Equipment</span><span class="mobile">Equipment</span></h4>
					<a class="extend" ng-click="hideEquip = !hideEquip"><i class="fa" ng-class="{'fa-angle-up': !hideEquip, 'fa-angle-down': hideEquip}"></i></a>
					<a class="edit_info">Add Equipment</a>
					<a class="edit_info mobile"><img src="app/img/office3.png"></a>
				</div>
				<div class="block-content" ng-hide="hideEquip">
					<equipment-panel class="my-equipment" viewer-id="currPerson.viewerId"></equipment-panel>
				</div>
			</div>
			<div class="block my-market-place">
				<div class="profile-header">
					<h4><img src="app/img/equipment-icon.png" style="width: 20px;"><span>My Market Place</span><span class="mobile">Market Place</span></h4>
					<a class="extend" ng-click="hideMarket = !hideMarket"><i class="fa" ng-class="{'fa-angle-up': !hideMarket, 'fa-angle-down': hideMarket}"></i></a>
					<a class="edit_info">Add Market Place</a>
					<a class="edit_info mobile"><img src="app/img/office3.png"></a>
				</div>
				<div class="block-content" ng-hide="hideMarket">
					<market-panel class="my-market" viewer-id="currPerson.viewerId"></market-panel>
				</div>
			</div>
		</div>
	</div>
	<div class="demo-sidebar">
		<h4>Interactions</h4>
		<div class="sidebar-content">
			
		</div>
	</div>
</div>
