<div ng-controller="tilesController" class="yabrTile-body create-tile" ng-if="card=='addTile'">
   <h4><img class="add-icon" src="app/img/create-tile.png">Create New tile</h4>
   <div class="new-tile-wrap">
      <label for="file-input">
         <img src="app/img/upload-photo.png"/ ng-src="{{image_source}}">
      </label>
      <input id="file-input" class="file" type="file" onchange="angular.element(this).scope().setFile(this)" accept="image/*"/>
      <div id="type_sel">
         <select class="form-control" ng-init="newTile.tileType = tileType[0]" ng-model="newTile.tileType" ng-options="value for value in tileType"></select>
      </div>
      <input type="text" class="form-control" ng-model="newTile.title" placeholder="The title...">
      <textarea class="form-control" ng-model="newTile.description" placeholder="Description..."></textarea>
      <button class="create-tile-btn btn" ng-click="createTile()">Create Tile</button>
   </div>
</div>
<div ng-controller="feedsController" id="{{'tile_'+card.externalId}}" ng-if="card.tileType == 'content' || card.tileType == 'event' || card.tileType == 'sale' || card.tileType == 'offer' || card.tileType == 'business' || card.tileType == 'job' || card.tileType == 'swap'" class="yabrTile-body">
   <div class="ribbon" ng-if="card.segmentations[0].reason != ''"><span>{{card.segmentations[0].reason}}</span></div>
   <div class="img-video-wrap">
      <div class="tileImg">
         <img src="{{card.creatives[0].url}}" alt="tile" class="" />
         <div ng-if="card.tileType == 'content'" class="play-icon" ng-click="getVideoList(card)">
            <img src="app/img/tv-icon.png" />            
         </div>
      </div>
      <div class="youtubeVideo-wrap">
         <div class="youtubeVideo" ng-if="card.showYoutube && $root.youtubePlay">
            <videogular class="y-video" vg-theme="card.youtube.config.theme.url">
               <vg-media class="vg-media" vg-src="card.youtube.config.sources" vg-youtube="rel=1;showinfo=1">
               </vg-media>
               <vg-controls vg-autohide="card.youtube.config.plugins.controls.autoHide" vg-autohide-time="card.youtube.config.plugins.controls.autoHideTime">
                  <vg-play-pause-button></vg-play-pause-button>
                  <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                  <vg-scrub-bar>
                     <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  </vg-scrub-bar>
                  <vg-volume>
                     <vg-mute-button></vg-mute-button>
                     <vg-volume-bar></vg-volume-bar>
                  </vg-volume>
                  <vg-fullscreen-button></vg-fullscreen-button>
               </vg-controls>
            </videogular>            
         </div>
         <a class="close-btn" ng-click="hideVideo(card)"><img src="app/img/video-close.png" ng-if="card.showYoutube"></a>
      </div>
      <div class="tileVideo">
         <!-- <loading></loading> -->
         <sycovideo hls="card.hls_source" id="card.externalId"></sycovideo>
         <a class="close-btn" ng-click="hideVideo(card)"><img src="app/img/video-close.png" ng-if="card.hls_source"></a>
      </div>
   </div>   
   <div class="tile-infos">
      <h4 class="title">{{card.name}}<i class="fa fa-angle-right fg-lg"></i></h4>
      <p class="date"><span>{{card.publishedDate}}</span></p>      
      <div class="icons">
         <a class="check-btn"><img src="app/img/check.png"></a>
         <a class="net-btn"><img src="app/img/fish-net.png"></a>
         <a class="share-btn"><img src="app/img/share-alt.png"></a>
         <a class="comment-btn"><img src="app/img/comment.png"></a>
         <a class="more pull-right" ng-click="extendTile(card)">
            <img ng-if="card.extendWrap" src="app/img/less.png">
            <img ng-if="!card.extendWrap" src="app/img/more.png">
         </a>
      </div>
      <loading></loading>
      <div class="video-list" ng-if="card.videoList">
         <h4>Play List</h4>
         <ul ng-if="card.videoType == 'syco'">
            <li ng-repeat="video in card.videoList track by $index">            
               <a class="video" ng-click="videoPlay(card, video);">
                  <div class="videoImage-wrap">
                     <img class="videoImg" src="{{card.videoImages[$index]}}">
                     <img class="videoIcon" src="app/img/tv-icon.png">
                  </div>
                  <div class="video-infos">
                     <span>{{card.videoTitles[$index]}}</span>
                     <span class="videoType">Sail TV</span>                     
                  </div>
               </a>
            </li>
         </ul>
         <ul ng-if="card.videoType == 'youtube'">
            <li ng-repeat="video in card.videoTitles track by $index">
               <a class="video" ng-click="youtubeVideoPlay(card)">
                  <img src="{{card.videoImages[$index]}}">
                  <span>{{card.videoTitles[$index]}}</span>
                  <span>YouTube</span>
               </a>
            </li>
         </ul>
      </div>
      <accordion class="extend-wrap" ng-if="card.extendWrap && card.tileType == 'event'" close-others="false">         
         <accordion-group is-open="card.showEvents">
            <accordion-heading class="event-header">
               <img src="app/img/event.png">Events
               <i class="pull-right fa" ng-class="{'fa-angle-up': card.showEvents, 'fa-angle-down': !card.showEvents}"></i>
               <p ng-if="card.eventName && card.className && card.showEvents">
                  <span>{{card.eventName}}</span>
                  <span>/{{card.className}}</span>
               </p>               
            </accordion-heading>
            <div class="section">
               <div class="event-wrap">
                  <div class="left-arrow arrow">
                     <a href ng-click="slideEvents('left', card)"><i class="pull-left fa fa-angle-left"></i></a>               
                  </div>
                  <div class="events">
                     <div class="event-slider" ng-style="{'transform': card.transform, '-webkit-transform': card.transform, '-ms-transform': card.transform, '-moz-transform': card.transform, '-o-transform': card.transform, 'width': card.eventSliderWidth}" ng-show="card.showEventSlider">
                        <div class="slide animation" ng-repeat="event in card.event_cals" ng-style="{'width': card.eventWidth}" ng-click="getClasses(card, event.eventId, event.name)" ng-class="{'selected': card.selectedEvent == event.eventId}">
                           <div class="calendar-wrap">
                              <img class="calendar" src="app/img/cal-icon.png" alt="">
                              <span class="month">{{event.month}}</span>
                              <span class="date">{{event.date}}</span>
                           </div>
                           <h4 class="event-name">{{event.name}}</h4>                     
                        </div>
                     </div>
                  </div>
                  <div class="right-arrow arrow">
                     <a href ng-click="slideEvents('right', card)"><i class="pull-right fa fa-angle-right"></i></a>               
                  </div>
               </div>  
               <div class="class-content">
                  <div class="class-heading">
                     <img class="ng-scope" src="app/img/event.png"><span class="ng-scope">Class </span>
                  </div>
                  <div class="class-wrap">
                     <div class="left-arrow arrow">
                        <a href ng-click="slideClasses('left', card)"><i class="pull-left fa fa-angle-left"></i></a>
                     </div>
                     <div class="classes">
                        <div class="class-slider" ng-style="{'transform': card.classTransform, '-webkit-transform': card.classTransform, '-ms-transform': card.classTransform, '-moz-transform': card.classTransform, '-o-transform': card.classTransform, 'width': card.classSliderWidth}"  ng-show="card.showClass">
                           <div class="class-slide animation" ng-repeat="class in card.classes" ng-style="{'width': card.classWidth}" ng-click="getRaces(card, class)" ng-class="{'selected': card.selectedClass == class}">
                              <div class="class-img">
                                 <img src="{{class.flag}}" alt="">
                                 <span class="class-name">{{class.name}}</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="right-arrow arrow">
                        <a href ng-click="slideClasses('right', card)"><i class="pull-right fa fa-angle-right"></i></a>
                     </div>
                  </div>               
               </div>            
            </div>
         </accordion-group>
         <accordion-group is-open="card.showRaces" is-disabled="card.isRace">
            <accordion-heading class="races-header">
               <img src="app/img/results.png">Races<i class="pull-right fa" ng-class="{'fa-angle-up': card.showRaces, 'fa-angle-down': !card.showRaces}"></i>
            </accordion-heading>
            <div>
               <div class="races-wrap" ng-if="card.races && card.races.length != 0">
                  <ul class="races">
                     <li class="race" ng-repeat="race in card.races">
                        <span class="race-name">{{race.name}}</span>
                        <button class="race-btn btn" ng-click="getResult(race)">Result</button>
                        <span class="race-date">{{race.race_date}}</span>
                        <div class="result-wrap" ng-if="race.results.length > 0 && race.showResult">
                           <ul>
                              <li ng-repeat="result in race.results">
                                 <span class="position" ng-class="{'gold': result.position == '1', 'silver': result.position == '2', 'bronze': result.position == '3', 'blue': result.position != '1' && result.position != '2' && result.position != '3'}" ng-if="result.positionDesc != 'DNC'">{{result.position}}</span>
                                 <span class="position red" ng-if="result.positionDesc == 'DNC'">{{result.position}}</span>
                                 <div class="race-info">
                                    <span class="equipmentOwner">{{result.equipmentOwner}}</span>
                                    <span class="equipmentName">{{result.equipmentName}}
                                    &nbsp;{{result.sailNumber}}</span>
                                 </div>
                                 <div class="finish-time">
                                    <div class="time" ng-repeat="time in result.finishCorrected track by $index" ng-if="result.finishCorrected">
                                       <span class="time-val">
                                          <span class="timer">{{time}}</span>
                                       </span>                                       
                                       <span class="seperator" ng-if="$index !=2"><b>:</b></span>
                                    </div>
                                    <span class="no-time" ng-if="result.positionDesc == 'DNC'">{{result.positionDesc}}</span>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </accordion-group>
         <accordion-group is-open="card.showEnter">
            <accordion-heading class="enter-header">
               <img src="app/img/enter.png">Enter<i class="pull-right fa" ng-class="{'fa-angle-up': card.showEnter, 'fa-angle-down': !card.showEnter}"></i>
            </accordion-heading>
            <div>
               Enter
            </div>
         </accordion-group>
         <accordion-group is-open="card.showParticipants">
            <accordion-heading class="participant-header">
               <img src="app/img/participants.png">Participants<i class="pull-right fa" ng-class="{'fa-angle-up': card.showParticipants, 'fa-angle-down': !card.showParticipants}"></i>
            </accordion-heading>
            <div>
               Participants
            </div>
         </accordion-group>
         <accordion-group is-open="card.showCrew">
            <accordion-heading class="crew-header">
               <img src="app/img/crew.png">Crew<i class="pull-right fa" ng-class="{'fa-angle-up': card.showCrew, 'fa-angle-down': !card.showCrew}"></i>
            </accordion-heading>
            <div>
               Crew
            </div>
         </accordion-group>
         <accordion-group is-open="card.showActionReplay">
            <accordion-heading class="actionReplay-header">
               <img src="app/img/action-replay.png">Action Replay<i class="pull-right fa" ng-class="{'fa-angle-up': card.showActionReplay, 'fa-angle-down': !card.showActionReplay}"></i>
            </accordion-heading>
            <div>
               Action Replay
            </div>
         </accordion-group>
      </accordion>
      <div class="offer-extend-wrap" ng-if="card.extendWrap && card.tileType == 'offer'">
         <h4 class="offer-title">Offers</h4>
         <ul class="offers">
            <li class="offer" ng-repeat="offer in card.offers">
               <h5>{{offer.name}}</h4>
               <a class="get-offer-btn btn" href="{{offer.affilliateLink}}" target="_blank">Get This Offer</a>
               <p class="offer-detail"><span class="expires"><b>Expires {{offer.expire_days}} days</b></span> - Ends: {{offer.enddate}} - <span class="description">{{offer.description}}</span></p>
            </li>
         </ul>
      </div>
   </div>
</div>
<div ng-controller="feedsController" ng-if="card.tileType == 'poll'" class="yabrTile-body">
   <div class="ribbon" ng-if="card.isRecommended == true"><span>Recommended</span></div>
   <div class="poll-header">
      <h4>Poll</h4>
      <small>{{card.title}}</small>
   </div>
   <div class="poll-content">
      <h4>{{card.poll[0].question}}</h4>
      <div ng-repeat="choice in card.poll[0].choices" class="choices">
         <label>
            <input type="radio" value="{{choice.answer}}">
            {{choice.answer}}
         </label>
         <span>{{choice.rate}}</span>
         <br/>
      </div>
   </div>   
   <div class="tile-infos">
      <div class="icons">
         <a class="check-btn"><img src="app/img/check.png"></a>
         <a class="net-btn"><img src="app/img/fish-net.png"></a>
         <a class="share-btn"><img src="app/img/share-alt.png"></a>
         <a class="comment-btn"><img src="app/img/comment.png"></a>
         <span>{{card.commentCount}} Comments</span>         
         <a class="more pull-right" ng-click="showExtend()">
            <img ng-if="card.extendWrap" src="app/img/less.png">
            <img ng-if="!card.extendWrap" src="app/img/more.png">
         </a>
      </div>
      <accordion class="extend-wrap" ng-if="card.extendWrap" close-others="false">
         <accordion-group is-open="card.participants.open" class="participants-group">
            <accordion-heading>
               <img src="app/img/participants.png">Participants <i class="pull-right fa" ng-class="{'fa-angle-up': participants.open, 'fa-angle-down': !participants.open}"></i>
            </accordion-heading>
            <ul>
               <li ng-repeat="participant in card.participants">
                  <img src="{{participant.avatar}}"></img>
                  <span class="name">{{participant.name}}</span>
                  <a class="follow_btn">Follow</a>
               </li>
            </ul>
         </accordion-group>
         <accordion-group is-open="card.location.open" class="location-group">
            <accordion-heading>
               <img src="app/img/location.png">Location <i class="pull-right fa" ng-class="{'fa-angle-up': location.open, 'fa-angle-down': !location.open}"></i>
            </accordion-heading>
            <map zoom="8" center="{{card.location[0].lat}}, {{card.location[0].lon}}" on-center-changed="centerChanged()"> <marker position="{{card.location[0].lat}}, {{card.location[0].lon}}" on-click="click()" title="Click to zoom"></marker> </map>
         </accordion-group>
         <accordion-group is-open="card.attend.open" class="attend-group">
            <accordion-heading>
               <img src="app/img/attending.png" style="width: 20px; margin-right: 10px;">Attending <i class="pull-right fa" ng-class="{'fa-angle-up': attend.open, 'fa-angle-down': !attend.open}"></i>
            </accordion-heading>
            <div class="button"><button type="button" class="btn attend-btn pull-left enable">Attend</button></div>
            <div class="button"><button type="button" class="btn maybe-btn center-block disable">Maybe</button></div>
            <div class="button"><button type="button" class="btn notgoing-btn pull-right disable">Not going</button></div>
         </accordion-group>
      </accordion>
   </div>
</div>