<div ng-controller="feedsController" ng-if="card.tileType == 'Content' || card.tileType == 'event' || card.tileType == 'sale' || card.tileType == 'offer'" class="yabrTile-body">
   <div class="ribbon" ng-hide="showVideo" ng-if="card.isRecommended == true"><span>Recommended</span></div>
   <div class="img-video-wrap" ng-click="swapImgVideo(card.ExternalRef)">
      <div class="tileImg" ng-hide="hideImg">
         <img src="{{card.creatives[0].url}}" alt="tile" class="" />
         <div ng-if="card.ExternalRef[0].linkType == 'youTube' || card.ExternalRef[0].linkType == 'SYCO'" class="play-icon">
            <img src="app/img/tv-icon.png">
         </div>         
      </div>
      <div class="tileVideo" ng-show="showVideo" ng-if="card.ExternalRef[0].linkType == 'youTube'">
         <videogular vg-theme="card.config.theme.url">
            <vg-media vg-src="card.config.sources" vg-youtube="rel=1;showinfo=1">
            </vg-media>
            <vg-controls vg-autohide="card.config.plugins.controls.autoHide" vg-autohide-time="card.config.plugins.controls.autoHideTime">
               <vg-play-pause-button></vg-play-pause-button>
               <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
               <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
               </vg-scrub-bar>
               <vg-volume>
                  <vg-mute-button></vg-mute-button>
                  <vg-volume-bar></vg-volume-bar>
               </vg-volume>
               <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
         </videogular>
      </div>
      <div class="tileVideo" ng-show="showVideo" ng-if="card.ExternalRef[0].linkType == 'SYCO'">         
         <div id="player"></div>
         <input type="hidden" id="hls_link" value="{{card.hls_source}}"></input>
         <script type="text/javascript">
            setTimeout(function(){
               var hls_link = $("#hls_link").val();
               var conf = {
                  key:       "525b4ea5bdadf4ae74ab40546a6be359",
                  source: {                
                     hls: hls_link
                  }
               };
               var player = bitdash("player").setup(conf);
            }, 1000);
         </script>
      </div>      
   </div>   
   <div class="tile-infos">
      <h4 class="title">{{card.name}}<i class="fa fa-angle-right fg-lg"></i></h4>
      <p class="date"><span>{{card.publishedDate}}</span></p>      
      <div class="icons">
         <a class="check-btn"><img src="app/img/check.png"></a>
         <a class="net-btn"><img src="app/img/fish-net.png"></a>
         <a class="share-btn"><img src="app/img/share-alt.png"></a>
         <a class="comment-btn"><img src="app/img/comment.png"></a>
         <span>{{card.commentCount}} Comments</span>         
         <a class="dots pull-right" ng-click="showExtend()">
            <img ng-if="extendWrap" src="app/img/dots.png">
            <img ng-if="!extendWrap" src="app/img/dots-o.png">
         </a>
      </div>
      <accordion class="extend-wrap" ng-if="extendWrap" close-others="false">
         <accordion-group is-open="participants.open" class="participants-group">
            <accordion-heading>
               <img src="app/img/participants.png">Participants <i class="pull-right fa" ng-class="{'fa-angle-up': participants.open, 'fa-angle-down': !participants.open}"></i>
            </accordion-heading>
            <ul>
               <li ng-repeat="participant in card.participants">
                  <img src="{{participant.avatar}}"></img>
                  <span class="name">{{participant.name}}</span>
                  <a class="follow_btn">Follow</a>
               </li>
            </ul>
         </accordion-group>
         <accordion-group is-open="location.open" class="location-group">
            <accordion-heading>
               <img src="app/img/location.png">Location <i class="pull-right fa" ng-class="{'fa-angle-up': location.open, 'fa-angle-down': !location.open}"></i>
            </accordion-heading>
            <map zoom="8" center="{{card.location[0].lat}}, {{card.location[0].lon}}" on-center-changed="centerChanged()"> <marker position="{{card.location[0].lat}}, {{card.location[0].lon}}" on-click="click()" title="Click to zoom"></marker> </map>
         </accordion-group>
         <accordion-group is-open="attend.open" class="attend-group">
            <accordion-heading>
               <img src="app/img/attending.png" style="width: 20px; margin-right: 10px;">Attending <i class="pull-right fa" ng-class="{'fa-angle-up': attend.open, 'fa-angle-down': !attend.open}"></i>
            </accordion-heading>
            <div class="button"><button type="button" class="btn attend-btn pull-left enable">Attend</button></div>
            <div class="button"><button type="button" class="btn maybe-btn center-block disable">Maybe</button></div>
            <div class="button"><button type="button" class="btn notgoing-btn pull-right disable">Not going</button></div>
         </accordion-group>
      </accordion>
   </div>
</div>
<div ng-controller="feedsController" ng-if="card.tileType == 'poll'" class="yabrTile-body">
   <div class="ribbon" ng-if="card.isRecommended == true"><span>Recommended</span></div>
   <div class="poll-header">
      <h4>Poll</h4>
      <small>{{card.title}}</small>
   </div>
   <div class="poll-content">
      <h4>{{card.poll[0].question}}</h4>
      <div ng-repeat="choice in card.poll[0].choices" class="choices">
         <label>
            <input type="radio" value="{{choice.answer}}">
            {{choice.answer}}
         </label>
         <span>{{choice.rate}}</span>
         <br/>
      </div>
   </div>   
   <div class="tile-infos">
      <div class="icons">
         <a class="check-btn"><img src="app/img/check.png"></a>
         <a class="net-btn"><img src="app/img/fish-net.png"></a>
         <a class="share-btn"><img src="app/img/share-alt.png"></a>
         <a class="comment-btn"><img src="app/img/comment.png"></a>
         <span>{{card.commentCount}} Comments</span>         
         <a class="dots pull-right" ng-click="showExtend()">
            <img ng-if="extendWrap" src="app/img/dots.png">
            <img ng-if="!extendWrap" src="app/img/dots-o.png">
         </a>
      </div>
      <accordion class="extend-wrap" ng-if="extendWrap" close-others="false">
         <accordion-group is-open="participants.open" class="participants-group">
            <accordion-heading>
               <img src="app/img/participants.png">Participants <i class="pull-right fa" ng-class="{'fa-angle-up': participants.open, 'fa-angle-down': !participants.open}"></i>
            </accordion-heading>
            <ul>
               <li ng-repeat="participant in card.participants">
                  <img src="{{participant.avatar}}"></img>
                  <span class="name">{{participant.name}}</span>
                  <a class="follow_btn">Follow</a>
               </li>
            </ul>
         </accordion-group>
         <accordion-group is-open="location.open" class="location-group">
            <accordion-heading>
               <img src="app/img/location.png">Location <i class="pull-right fa" ng-class="{'fa-angle-up': location.open, 'fa-angle-down': !location.open}"></i>
            </accordion-heading>
            <map zoom="8" center="{{card.location[0].lat}}, {{card.location[0].lon}}" on-center-changed="centerChanged()"> <marker position="{{card.location[0].lat}}, {{card.location[0].lon}}" on-click="click()" title="Click to zoom"></marker> </map>
         </accordion-group>
         <accordion-group is-open="attend.open" class="attend-group">
            <accordion-heading>
               <img src="app/img/attending.png" style="width: 20px; margin-right: 10px;">Attending <i class="pull-right fa" ng-class="{'fa-angle-up': attend.open, 'fa-angle-down': !attend.open}"></i>
            </accordion-heading>
            <div class="button"><button type="button" class="btn attend-btn pull-left enable">Attend</button></div>
            <div class="button"><button type="button" class="btn maybe-btn center-block disable">Maybe</button></div>
            <div class="button"><button type="button" class="btn notgoing-btn pull-right disable">Not going</button></div>
         </accordion-group>
      </accordion>
   </div>
</div> 