<div class="login-wrap">
  <div class="login">
    <img class="logo" src="app/img/logo-fish.png">
    <h4 class="title">Login</h4>
    <div class="login-form">
      <input class="form-control" type="text" placeholder="Username">
      <input class="form-control" type="password" placeholder="Password">
      <div class="login-btn-wrap">
        <span>Forgotten Password</span>
        <a href="" class="login-btn btn">Login</a>
      </div>
      <div class="signup-btn-wrap">
        <span>Not yet a member?</span>
        <a href="#/app/signup" class="signup-btn btn">Sign up</a>
      </div>
      <p>Or sign in using:</p>
      <div class="facebook-twitter">
        <!-- <button type="button" class="facebook-btn btn" ng-click="IntentLogin()"><img src="app/img/facebook.png">Facebook</button> -->
        <button type="button" class="facebook-btn btn" ng-click="FBLogin()"><img src="app/img/facebook.png">Facebook</button>
        <button type="button" class="twitter-btn btn"><img src="app/img/twitter.png">Twitter</button>
      </div>
    </div>
  </div>
</div>