<div class="tiles-wrap">
	<div class="tiles-header">
		<a href="#/app/nets"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;Back</a>
		<h4>{{netName}}</h4> 
		<p>
			<span ng-if="tiles.length == 1">{{tiles.length}} Tile</span>
			<span ng-if="tiles.length != 1">{{tiles.length}} Tiles</span>
		</p>
	</div>	
	<!-- START row-->
	<div class="row yabrTile-wrap">
	   <!-- START widget-->
	   <div class="container-fluid">
	      <div deckgrid="" source="tiles" cardtemplate="{{basepath('tile-detail.html')}}" class="deckgrid clearfix yabrTile widget"></div>
	   </div>
	   <!-- END widget-->      
	</div>
</div>