<div class="create tile">
   <h4><img class="add-icon" src="app/img/create-tile.png">Create New tile</h4>
   <div class="new-tile-wrap">
      <div class="create-tile-slider" ng-style="{'transform': transform, '-webkit-transform': transform, '-ms-transform': transform, '-moz-transform': transform, '-o-transform': transform, 'width': sliderWidth}">
         <div id="step1" class="steps" ng-style="{'width': stepWidth}">
            <label for="file-input">
               <img id="image" src="app/img/upload-photo.png" ng-src="{{image_source}}" ng-cropper ng-cropper-options="options" ng-cropper-show="'show.cropper'" ng-cropper-hide="'hide.cropper'">
<!--                <img src="app/img/upload-photo.png" ng-src="{{image_source}}"> -->
            </label>
            <input id="file-input" class="file" type="file" onchange="angular.element(this).scope().setFile(this)" accept="image/*"/>      

            <div class="type_sel">
               <select class="form-control" ng-init="newTile.tileType = tileType[0]" ng-model="newTile.tileType" ng-options="value for value in tileType"></select>
            </div>
            <input type="text" class="form-control" ng-model="newTile.title" placeholder="The title...">
            <textarea class="form-control" ng-model="newTile.description" placeholder="Description..."></textarea>
         </div>
         <div id="step2" class="steps" ng-style="{'width': stepWidth}">
            <label for="accounts">Accounts:</label>
            <div class="type_sel">               
               <select class="form-control" ng-model="accountExternalId">
                  <option value="{{account.externalId}}" ng-repeat="account in accounts">{{account.name}}</option>
               </select>
            </div>
            <label for="accounts">Organizations:</label>
            <div class="type_sel">
               <select class="form-control" ng-model="organizationExternalId">
                  <option value="{{organization.externalId}}" ng-if="organization" ng-repeat="organization in organizations track by $index">{{organization.name}}</option>
               </select>
            </div>
            <button class="create-tile-btn btn" ng-click="createTile()">Create</button>
         </div>
         <div id="step3" class="steps" ng-style="{'width': stepWidth}">
            <label>Packs:</label>
         </div>
      </div>      
      <button ng-if="index != 2" class="next-btn btn" ng-click="slideWrap('next')"><i class="fa fa-angle-right fg-lg"></i></button>
      <button ng-if="index != 0" class="prev-btn btn" ng-click="slideWrap('prev')"><i class="fa fa-angle-left fg-lg"></i></button>      
   </div>
</div>

<input type="file" onchange="angular.element(this).scope().onFile(this.files[0])">
<button ng-click="preview()">Show preview</button>
<!-- <button ng-click="scale(200)">Scale to 200px width</button>
<button ng-click="clear()">Clear selection</button>
<label>Disabled <input type="checkbox" ng-model="options.disabled"></label> -->
<br />

<div ng-if="dataUrl" class="img-container">
   <img ng-if="dataUrl" ng-src="{{dataUrl}}" width="304"
      ng-cropper
      ng-cropper-proxy="cropperProxy"
      ng-cropper-show="showEvent"
      ng-cropper-hide="hideEvent"
      ng-cropper-options="options">
</div>

<div class="preview-container">
   <img ng-if="preview.dataUrl" ng-src="{{preview.dataUrl}}">
</div>