<div class="create-area" ng-init=getUser()>   
   <div class="create tile">
      <h4><img class="add-icon" src="app/img/create-tile.png">Create New tile</h4>
      <div class="new-tile-wrap">
         <div class="create-tile-slider" ng-style="{'transform': transform, '-webkit-transform': transform, '-ms-transform': transform, '-moz-transform': transform, '-o-transform': transform, 'width': sliderWidth}">
            <div id="step1" class="steps" ng-style="{'width': stepWidth}">            
               <label for="file-input">
                  <img src="app/img/upload-photo.png"/ ng-src="{{image_source}}">
               </label>
               <input id="file-input" class="file" type="file" uploader="form.uploader" onchange="angular.element(this).scope().setFile(this)" accept="image/*"/>
               <ui-select ng-model="tileType.selected" theme="select2">
                  <ui-select-match placeholder="Select Type...">{{$select.selected.description}}</ui-select-match>
                  <ui-select-choices repeat="tileType in tileTypes | propsFilter: {description: $select.search}">
                     <div ng-bind-html="tileType.description | highlight: $select.search"></div>               
                  </ui-select-choices>
               </ui-select>               
               <input type="text" class="form-control" ng-model="newTile.title" placeholder="The title...">
               <textarea class="form-control" ng-model="newTile.description" placeholder="Description..."></textarea>
               <div class="button-wrap">
                  <div class="buttons">
                     <button class="prev-btn btn btn-pill-left" disabled="disabled"><i class="fa fa-angle-left fg-lg"></i>&nbsp;&nbsp;Prev</button>   
                     <button class="next-btn btn btn-pill-right" ng-click="slideWrap('next')">Next&nbsp;&nbsp;<i class="fa fa-angle-right fg-lg"></i></button>
                  </div>
               </div>
            </div>
            <div id="step2" class="steps" ng-style="{'width': stepWidth}">
               <label for="accounts">Accounts:</label>
               <ui-select ng-model="account.selected" theme="select2" on-select="changeAccount($item, $model)">
                  <ui-select-match placeholder="Select Account...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="account in accounts | propsFilter: {name: $select.search}">
                     <div ng-bind-html="account.name | highlight: $select.search"></div>
                  </ui-select-choices>
               </ui-select>               
               <label for="accounts">Organizations:</label>
               <ui-select ng-model="organization.selected" theme="select2">
                  <ui-select-match placeholder="Select Organization...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="organization in organizations | propsFilter: {name: $select.search}">
                     <div ng-bind-html="organization.name | highlight: $select.search"></div>               
                  </ui-select-choices>
               </ui-select>
               <div class="button-wrap">
                  <div class="buttons">
                     <button class="prev-btn btn btn-pill-left" ng-click="slideWrap('prev')"><i class="fa fa-angle-left fg-lg"></i>&nbsp;&nbsp;Prev</button>   
                     <button ng-show="!enablement" class="next-btn btn btn-pill-right" ng-click="slideWrap('next')">Next&nbsp;&nbsp;<i class="fa fa-angle-right fg-lg"></i></button>
                     <button ng-show="enablement" class="create-tile-btn btn btn-pill-right" ng-click="createTile()" ng-disabled="!enableCreate">Create</button>
                  </div>
               </div>
               <span class="tileCount">{{diffInstances}} Tiles</span>               
            </div>
            <div id="step3" class="steps" ng-style="{'width': stepWidth}">
               <div class="purchase-wrap" ng-show="showNewTile">
                  <div class="products-wrap">
                     <div class="products" ng-repeat="product in products track by $index">
                        <div class="offer" ng-repeat="offer in product.offers" ng-click="selectOffer(offer)">
                           <div class="names">
                              <img class="selected" ng-show="isSelected(offer)" src="app/img/check-w.png">
                              <span class="product-name">{{product.productName}}</span>
                              <span class="offer-name">{{offer.name}}</span>
                           </div>
                           <div class="offer-infos">
                              <span class="description">{{offer.description}}</span>
                              <span class="price">&#xA3;{{offer.grossPrice | number: 2}}</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="button-wrap">
                     <div class="buttons">
                        <button class="prev-btn btn btn-pill-left" ng-click="slideWrap('prev')"><i class="fa fa-angle-left fg-lg"></i>&nbsp;&nbsp;Prev</button>
                        <button class="create-tile-btn btn btn-pill-right" stripe-checkout="doCheckout()" data-key="pk_test_hEVPAufqTlToDGSTUokAK3bs" data-name="{{offerName}}" data-description="{{offerDescription}}" data-amount="{{offerAmount}}" data-currency="GBP">Purchase</button>
                     </div>
                  </div>
               </div>
               <div class="newTile-body" ng-show="!showNewTile">
                  <div class="yabrTile">
                     <div class="img-video-wrap">
                        <div class="tileImg">
                           <!-- <img src="{{newTile.creatives[0].url}}" alt="tile" class="" /> -->
                           <img src="http://img.yabrfish.com/cdn/sup-wb-587.jpg" alt="tile" class="" />
                        </div>
                     </div>
                     <div class="tile-infos">
                        <!-- <h4 class="title">{{newTile.name}}<i class="fa fa-angle-right fg-lg"></i></h4> -->
                        <h4 class="title">UK SUP Race 9<i class="fa fa-angle-right fg-lg"></i></h4>
                        <p class="date"><span>{{newTile.publishedDate}}</span></p>
                        <accordion class="extend-wrap" close-others="false">
                           <accordion-group is-open="showEvents">
                              <accordion-heading class="event-header">
                                 <img src="app/img/event.png">Events
                                 <i class="pull-right fa" ng-class="{'fa-angle-up': showEvents, 'fa-angle-down': !showEvents}"></i>
                              </accordion-heading>
                              <div class="event-wrap">
                                 <div class="event-type option">
                                    <ui-select ng-model="eventtype.selected" theme="select2">
                                       <ui-select-match placeholder="Event Type">{{$select.selected.description}}</ui-select-match>
                                       <ui-select-choices repeat="eventtype in eventtypes | propsFilter: {description: $select.search}">
                                          <div ng-bind-html="eventtype.description | highlight: $select.search"></div>               
                                       </ui-select-choices>
                                    </ui-select>   
                                 </div>
                                 <div class="name option">
                                    <input type="text" class="form-control input-name" placeholder="Name" ng-model="events.name">
                                 </div>
                                 <div class="main-event option">
                                    <input type="text" class="form-control input-main-event" placeholder="Main Event">
                                 </div>
                                 <div class="multiple option">
                                    <label>How Many</label>
                                    <input type="number" class="form-control input-multiple" ng-model="events.count">
                                    <span>Current</span><input type="text" class="event-step form-control" ng-model="eventStep" disabled="" />
                                 </div>
                                 <div class="multi-check option checkbox c-checkbox">
                                    <label ng-repeat="day in weekDays"><input type="checkbox" class="week-day" checkbox-group ng-model="day.Selected">{{day.value}}<span class="fa fa-times"></span></label>
                                    <label><input type="checkbox" ng-model="events.selectedAll" ng-click="checkAll()">All<span class="fa fa-times"></span></label>
                                 </div>
                                 <div class="date-control">
                                    <label class="date-label">Starts</label>
                                    <p class="input-group">
                                       <input type="text" class="form-control" datetime-picker ng-model="dates.startDate" is-open="open.startDate" />
                                       <span class="input-group-btn">
                                          <button type="button" class="btn btn-default calendar-btn" ng-click="openCalendar($event, 'startDate')"><i class="fa fa-calendar"></i></button>
                                       </span>
                                    </p>
                                    <label class="date-label">Finish</label>
                                    <p class="input-group">
                                       <input type="text" class="form-control" datetime-picker ng-model="dates.finishDate" is-open="open.finishDate"  disabled/>
                                       <!-- <span class="input-group-btn">
                                          <button type="button" class="btn btn-default calendar-btn" ng-click="openCalendar($event, 'finishDate')"><i class="fa fa-calendar"></i></button>
                                       </span> -->
                                    </p>
                                 </div>
                                 <div class="event-buttons">                                    
                                    <button class="btn btn-default prev-event" ng-click="popEvent()">Prev</button>
                                    <button class="btn btn-default next-event" ng-click="addEvent()">Next</button>
                                    <button class="btn btn-default skip-date" ng-click="skipDate()">Skip</button>
                                    <button class="save-btn btn" ng-click="save()">Save</button>
                                 </div>
                              </div>
                           </accordion-group>
                           <accordion-group is-open="showRaces" is-disabled="isRace">
                              <accordion-heading class="races-header">
                                 <img src="app/img/results.png">Races<i class="pull-right fa" ng-class="{'fa-angle-up': showRaces, 'fa-angle-down': !showRaces}"></i>
                              </accordion-heading>
                           </accordion-group>
                           <accordion-group is-open="showEnter">
                              <accordion-heading class="enter-header">
                                 <img src="app/img/enter.png">Enter<i class="pull-right fa" ng-class="{'fa-angle-up': showEnter, 'fa-angle-down': !showEnter}"></i>
                              </accordion-heading>
                              <div>
                                 Enter
                              </div>
                           </accordion-group>
                           <accordion-group is-open="showParticipants">
                              <accordion-heading class="participant-header">
                                 <img src="app/img/participants.png">Participants<i class="pull-right fa" ng-class="{'fa-angle-up': showParticipants, 'fa-angle-down': !showParticipants}"></i>
                              </accordion-heading>
                              <div>
                                 Participants
                              </div>
                           </accordion-group>
                           <accordion-group is-open="showCrew">
                              <accordion-heading class="crew-header">
                                 <img src="app/img/crew.png">Crew<i class="pull-right fa" ng-class="{'fa-angle-up': showCrew, 'fa-angle-down': !showCrew}"></i>
                              </accordion-heading>
                              <div>
                                 Crew
                              </div>
                           </accordion-group>
                           <accordion-group is-open="showActionReplay">
                              <accordion-heading class="actionReplay-header">
                                 <img src="app/img/action-replay.png">Action Replay<i class="pull-right fa" ng-class="{'fa-angle-up': showActionReplay, 'fa-angle-down': !showActionReplay}"></i>
                              </accordion-heading>
                              <div>
                                 Action Replay
                              </div>
                           </accordion-group>
                        </accordion>
                     </div>
                  </div>
               </div>
            </div>
         </div>         
      </div>
   </div>   
</div>
<!-- Alert message-->
<div flash-message="2000" class="alert-message" ng-show="$root.hasFlash"></div>
