<div class="profile-wrap">
  <div class="block">
    <div class="profile-header">
      <h4><img src="app/img/participants.png"><span>About</span></h4>
      <a class="edit_info">Edit Information</a>
    </div>
    <div class="infos">
      <p><img src="app/img/cake.png"><span>{{birthday}}</span></p>
      <p><img src="app/img/male.png"><span>{{sex}}</span></p>
      <p><img src="app/img/job.png"><span>{{job}}</span></p>
      <p><img src="app/img/location-g.png"></i><span>{{location}}</span></p>    
    </div>
  </div>
  <div class="block">
    <div class="profile-header">
      <h4><img src="app/img/info.png" style="width: 20px;"><span style="margin-left: 10px;">Bio</span></h4>
    </div>
    <div class="infos">
      <p>{{bio}}</p>
    </div>
  </div>
</div>
