<div class="create account">
	<h4><img class="add-icon" src="app/img/add-green.png">Create New Account</h4>
	<div class="new-account-wrap">
      <div class="create-account-slider" ng-style="{'transform': transform, '-webkit-transform': transform, '-ms-transform': transform, '-moz-transform': transform, '-o-transform': transform, 'width': sliderWidth}">
         <div id="step1" class="steps" ng-style="{'width': stepWidth}">
         	<label for="file-input">
           	   <img src="app/img/upload-photo.png"/ ng-src="{{image_source}}">
         	</label>
         	<input id="file-input" class="file" type="file" onchange="angular.element(this).scope().setFile(this)" accept="image/*"/>         
            <ui-select ng-model="accountType.selected" theme="select2">
               <ui-select-match placeholder="Select Type...">{{$select.selected.fullName}}</ui-select-match>
               <ui-select-choices repeat="accountType in accountTypes | propsFilter: {fullName: $select.search}">
                  <div ng-bind-html="accountType.fullName | highlight: $select.search"></div>               
               </ui-select-choices>
            </ui-select>         
         	<input type="text" class="form-control" ng-model="newAccount.title" placeholder="The title...">
         	<textarea class="form-control" ng-model="newAccount.description" placeholder="Description..."></textarea>
         </div>
         <div id="step2" class="steps" ng-style="{'width': stepWidth}">
            <ui-select ng-model="type.selected" theme="select2">
               <ui-select-match placeholder="Select a Product..."></ui-select-match>
               <ui-select-choices repeat="type in accountTypes | propsFilter: {fullName: $select.search}">
                  <div ng-bind-html="type.fullName | highlight: $select.search"></div>               
               </ui-select-choices>
            </ui-select>
            <ui-select ng-model="type.selected" theme="select2">
               <ui-select-match placeholder="Select a Purchase..."></ui-select-match>
               <ui-select-choices repeat="type in accountTypes | propsFilter: {fullName: $select.search}">
                  <div ng-bind-html="type.fullName | highlight: $select.search"></div>               
               </ui-select-choices>
            </ui-select> 
            <button class="create-tile-btn btn" ng-click="createAccount()">Create</button>
         </div>
         <div id="step3" class="steps" ng-style="{'width': stepWidth}">
            <label>Packs:</label>
         </div>
      </div>
      <button ng-if="index != 2" class="next-btn btn" ng-click="slideWrap('next')"><i class="fa fa-angle-right fg-lg"></i></button>
      <button ng-if="index != 0" class="prev-btn btn" ng-click="slideWrap('prev')"><i class="fa fa-angle-left fg-lg"></i></button>
	</div>
</div>