<div class="create account">
	<h4><img class="add-icon" src="app/img/add-green.png">Create New Account</h4>
	<div class="new-account-wrap">
      <div class="create-account-slider" ng-style="{'transform': transform, '-webkit-transform': transform, '-ms-transform': transform, '-moz-transform': transform, '-o-transform': transform, 'width': sliderWidth}">
         <div id="step1" class="steps" ng-style="{'width': stepWidth}">
         	<label for="file-input">
           	   <img src="app/img/upload-photo.png"/ ng-src="{{image_source}}">
         	</label>
         	<input id="file-input" class="file" type="file" onchange="angular.element(this).scope().setFile(this)" accept="image/*"/>
            <ui-select ng-model="accountType.selected" theme="select2">
               <ui-select-match placeholder="Select Type...">{{$select.selected.fullName}}</ui-select-match>
               <ui-select-choices repeat="accountType in accountTypes | propsFilter: {fullName: $select.search}">
                  <div ng-bind-html="accountType.fullName | highlight: $select.search"></div>               
               </ui-select-choices>
            </ui-select>         
         	<input type="text" class="form-control" ng-model="newAccount.title" placeholder="The title...">
         	<textarea class="form-control" ng-model="newAccount.description" placeholder="Description..."></textarea>
            <div class="button-wrap">
               <div class="buttons">
                  <button class="prev-btn btn btn-pill-left" disabled="disabled"><i class="fa fa-angle-left fg-lg"></i>&nbsp;&nbsp;Prev</button>   
                  <button class="next-btn btn btn-pill-right" ng-click="slideWrap('next')">Next&nbsp;&nbsp;<i class="fa fa-angle-right fg-lg"></i></button>
               </div>
            </div>
         </div>
         <div id="step2" class="steps" ng-style="{'width': stepWidth}">            
            <div class="button-wrap">
               <div class="buttons">
                  <button class="prev-btn btn btn-pill-left" ng-click="slideWrap('prev')"><i class="fa fa-angle-left fg-lg"></i>&nbsp;&nbsp;Prev</button>
                  <button class="next-btn btn btn-pill-right" ng-click="slideWrap('next')">Next&nbsp;&nbsp;<i class="fa fa-angle-right fg-lg"></i></button>
               </div>
            </div>
         </div>
         <div id="step3" class="steps" ng-style="{'width': stepWidth}">
            <div class="products-wrap">
               <div class="products" ng-repeat="product in products track by $index">
                  <div class="offer" ng-repeat="offer in product.offers" ng-click="selectOffer(offer)">
                     <div class="names">
                        <img class="selected" ng-show="isSelected(offer)" src="app/img/check-w.png">
                        <span class="product-name">{{product.productName}}</span>
                        <span class="offer-name">{{offer.name}}</span>
                     </div>
                     <div class="offer-infos">
                        <span class="description">{{offer.description}}</span>
                        <span class="price">&#xA3;{{offer.grossPrice | number: 2}}</span>
                     </div>
                  </div>
               </div>   
            </div>
            <div class="button-wrap">
               <div class="buttons">
                  <button class="prev-btn btn btn-pill-left" ng-click="slideWrap('prev')"><i class="fa fa-angle-left fg-lg"></i>&nbsp;&nbsp;Prev</button>   
                  <button class="create-tile-btn btn btn-pill-right" stripe-checkout="doCheckout()" data-key="pk_test_hEVPAufqTlToDGSTUokAK3bs" data-name="{{offerName}}" data-description="{{offerDescription}}" data-amount="{{offerAmount}}" data-currency="GBP">Purchase</button>
               </div>
            </div> 
         </div>
      </div>
	</div>
</div>