<div class="profile-wrap">
  <div class="block">
    <div class="profile-header">
      <h4><img src="app/img/participants.png"><span>About</span></h4>
      <a class="edit_info">Edit Information</a>
    </div>
    <div class="infos">
      <p><img src="app/img/cake.png"><a editable-text="birthday"><span>{{birthday || 'DD/MM/YYYY'}}</span></a></p>
      <p><img src="app/img/male.png"><a editable-text="sex"><span>{{sex || 'No Gender'}}</span></a></p>
      <p><img src="app/img/job.png"><a editable-text="job"><span>{{job || 'No Job'}}</span></a></p>
      <p><img src="app/img/location-g.png"><a editable-text="location"><span>{{location || 'No Location'}}</span></a></p>
    </div>
  </div>
  <div class="block">
    <div class="profile-header">
      <h4><img src="app/img/info.png" style="width: 20px;"><span style="margin-left: 10px;">Bio</span></h4>
    </div>
    <div class="infos">
      <a editable-textarea="bio">{{bio || 'No Bio'}}</a>
    </div>
  </div>
  <div class="buttons">
    <button class="update-profile btn pull-right" ng-click="updateProfile();">Save</button>
  </div>
</div>

<!-- Alert message-->
<div flash-message="3000" class="alert-message" ng-show="$root.hasFlash"></div>

