<div class="profile-club-wrap">
	<div class="club-header">
		<h4>Clubs</h4>
		<p>Lorem ipsum dolor site amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
	<div class="clubs">
		<div class="club-content add">
			<div class="add-club">				
				<h4><img class="add-icon" src="app/img/add-green.png">Add new club</h4>
				<input class="search form-control" placeholder="Search for club...">
				<span><i>or</i></span>
				<input class="form-control" placeholder="New club...">
				<div class="new-club-wrap">
					<label for="file-input">
				        <img src="app/img/upload-photo.png"/ ng-src="{{image_source}}">
				    </label>
				    <input id="file-input" class="file" type="file" onchange="angular.element(this).scope().setFile(this)" accept="image/*"/>
					<input class="form-control" placeholder="Location">
					<div id="club_sel">
						<select class="form-control">
							<option value="0">Club type</option>
							<option value="1">1</option>
							<option value="2">2</option>
						</select>
					</div>
					<button class="create-club-btn btn">Create Club</button>
				</div>
			</div>
		</div>
		<div class="club-content" ng-repeat="club in clubs">
			<div class="club-detail">
				<!-- <img src="app/img/clubs/club1.png"> -->
				<div class="no-image" ng-if="!club.image">
					<img src="app/img/grey-bg.png">
					<!-- <span>+Sign In</span> -->
				</div>
				<div class="club-info">
					<h4><a>{{club.name}}</a></h4>
					<span>X Yabrfish Member&nbsp;<i class="fa fa-angle-right"></i></span>
				</div>				
			</div>
		</div>		
	</div>
</div>
<!--<script type="text/ng-template" id="addClub.html">
    <div class="modal-header addClub">
        <img src="app/img/add.png">
        <h4>Add Club</h4>
    </div>	        
    <div class="modal-body">
    	<div class="modal-body-content">
        	<input type="text" class="form-control" placeholder="Club Name">
            <button class="btn create-btn" type="button" ng-click="">Save</button>	            
            <button class="btn cancel-btn" type="button" ng-click="">Cancel</button>
    	</div>
    </div>
</script>-->