<!--ROW-->
<div class="row slider-wrap" ng-init="loadBanner()">
   <a id="{{bannerId}}" href="{{bannerUrl}}" target="{{target}}" alt="{{alt}}"><img src="{{bannerImg}}" /></a>
</div>
<!-- START row-->
<div class="row yabrTile-wrap">
   <!-- START widget-->
   <div class="container-fluid">
      <div deckgrid source="tiles" cardtemplate="{{basepath('radar-detail.html')}}" class="deckgrid clearfix yabrTile widget"></div>
   </div>
   <!-- END widget-->
</div>

<!-- Alert message-->
<div flash-message="2000" class="alert-message" ng-show="$root.hasFlash"></div>
