<div ng-controller="myTileController" ng-if="card == 'newTile'" ng-include="'app/views/new-tile.html'"></div>
<div ng-controller="tileController" id="{{'tile_'+card.externalId}}" ng-if="card.tileType == 'content' || card.tileType == 'event' || card.tileType == 'sale' || card.tileType == 'offer' || card.tileType == 'business' || card.tileType == 'job' || card.tileType == 'swap' || card.tileType == 'article'" class="yabrTile-body">
   <div class="ribbon" ng-if="card.segmentations[0].reason != ''"><span>{{card.segmentations[0].reason}}</span></div>
   <div class="img-video-wrap">
      <div class="tileImg">
         <img src="{{card.creatives[0].url}}" alt="tile" class="" />
         <div ng-if="card.tileType == 'content'" class="play-icon" ng-click="getVideoList(card)">
            <img src="app/img/tv-icon.png" />            
         </div>
      </div>
      <div class="youtubeVideo-wrap">
         <div class="youtubeVideo" ng-if="card.showYoutube && $root.youtubePlay">
            <videogular class="y-video" vg-theme="card.youtube.config.theme.url">
               <vg-media class="vg-media" vg-src="card.youtube.config.sources" vg-youtube="rel=1;showinfo=1">
               </vg-media>
               <vg-controls vg-autohide="card.youtube.config.plugins.controls.autoHide" vg-autohide-time="card.youtube.config.plugins.controls.autoHideTime">
                  <vg-play-pause-button></vg-play-pause-button>
                  <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                  <vg-scrub-bar>
                     <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  </vg-scrub-bar>
                  <vg-volume>
                     <vg-mute-button></vg-mute-button>
                     <vg-volume-bar></vg-volume-bar>
                  </vg-volume>
                  <vg-fullscreen-button></vg-fullscreen-button>
               </vg-controls>
            </videogular>            
         </div>
         <a class="close-btn" ng-click="hideVideo(card)"><img src="app/img/video-close.png" ng-if="card.showYoutube"></a>
      </div>
      <div class="tileVideo">
         <sycovideo hls="card.hls_source" id="card.externalId"></sycovideo>
         <a class="close-btn" ng-click="hideVideo(card)"><img src="app/img/video-close.png" ng-if="card.hls_source"></a>
      </div>
   </div>   
   <div class="tile-infos">
      <h4 class="title">{{card.name}}<i class="fa fa-angle-right fg-lg"></i></h4>
      <p class="date"><span>{{card.publishedDate}}</span></p>
      <div class="icons">
         <a class="check-btn"><img src="app/img/check.png"></a>
         <a class="net-btn"><img src="app/img/fish-net.png"></a>
         <a class="share-btn"><img src="app/img/share-alt.png"></a>
         <a class="comment-btn"><img src="app/img/comment.png"></a>
         <a class="more pull-right" ng-click="extendTile(card)">
            <img ng-src="{{card.moreImg}}">
         </a>
      </div>
      <div ng-if="loading" class="ball-clip-rotate loading">
         <div></div>
      </div>      
      <div class="video-list" ng-if="card.videoList">
         <h4>Play List</h4>
         <ul ng-if="card.videoType == 'syco'">
            <li ng-repeat="video in card.videoList track by $index">            
               <a class="video" ng-click="videoPlay(card, video);">
                  <div class="videoImage-wrap">
                     <img class="videoImg" src="{{card.videoImages[$index]}}">
                     <img class="videoIcon" src="app/img/tv-icon.png">
                  </div>
                  <div class="video-infos">
                     <span>{{card.videoTitles[$index]}}</span>
                     <span class="videoType">Sail TV</span>                     
                  </div>
               </a>
            </li>
         </ul>
         <ul ng-if="card.videoType == 'youtube'">
            <li ng-repeat="video in card.videoTitles track by $index">
               <a class="video" ng-click="youtubeVideoPlay(card)">
                  <img src="{{card.videoImages[$index]}}">
                  <span>{{card.videoTitles[$index]}}</span>
                  <span>YouTube</span>
               </a>
            </li>
         </ul>
      </div>
      <accordion class="extend-wrap" ng-if="card.extendWrap && card.tileType == 'article'" close-others="false">
         <accordion-group is-open="card.showActionReplay">
            <accordion-heading class="actionReplay-header">
               <img src="app/img/action-replay.png">Action Replay<i class="pull-right fa" ng-class="{'fa-angle-up': card.showActionReplay, 'fa-angle-down': !card.showActionReplay}"></i>
            </accordion-heading>
            <div>
               Action Replay
            </div>
         </accordion-group>
      </accordion>
      <accordion class="extend-wrap" ng-if="card.extendWrap && card.tileType == 'content'" close-others="false">
         <accordion-group is-open="card.showActionReplay">
            <accordion-heading class="actionReplay-header">
               <img src="app/img/action-replay.png">Action Replay<i class="pull-right fa" ng-class="{'fa-angle-up': card.showActionReplay, 'fa-angle-down': !card.showActionReplay}"></i>
            </accordion-heading>
            <div>
               Action Replay
            </div>
         </accordion-group>
      </accordion>
      <accordion class="extend-wrap" ng-if="card.extendWrap && card.tileType == 'event'" close-others="false">
         <accordion-group is-open="card.showEvents">
            <accordion-heading class="event-header">
               <img src="app/img/event.png">Events
               <i class="pull-right fa" ng-class="{'fa-angle-up': card.showEvents, 'fa-angle-down': !card.showEvents}"></i>
               <p ng-if="card.eventName && card.className && card.showEvents">
                  <span>{{card.eventName}}</span>
                  <span>/{{card.className}}</span>
               </p>
            </accordion-heading>
            <div class="section">
               <event-list tile="card"></event-list>
               <event-edit></event-edit>               
               <div ng-if="true">
                  <class-list class="class-list" tile="card"></class-list>
                  <race-list></race-list>
               </div>
            </div>
         </accordion-group>
         <accordion-group is-open="card.showEnter">
            <accordion-heading class="enter-header">
               <img src="app/img/enter.png">Enter<i class="pull-right fa" ng-class="{'fa-angle-up': card.showEnter, 'fa-angle-down': !card.showEnter}"></i>
            </accordion-heading>
            <div>
               Enter
            </div>
         </accordion-group>
         <accordion-group is-open="card.showParticipants">
            <accordion-heading class="participant-header">
               <img src="app/img/participants.png">Participants<i class="pull-right fa" ng-class="{'fa-angle-up': card.showParticipants, 'fa-angle-down': !card.showParticipants}"></i>
            </accordion-heading>
            <div>
               Participants
            </div>
         </accordion-group>
         <accordion-group is-open="card.showCrew">
            <accordion-heading class="crew-header">
               <img src="app/img/crew.png">Crew<i class="pull-right fa" ng-class="{'fa-angle-up': card.showCrew, 'fa-angle-down': !card.showCrew}"></i>
            </accordion-heading>
            <div>
               Crew
            </div>
         </accordion-group>
         <accordion-group is-open="card.showActionReplay">
            <accordion-heading class="actionReplay-header">
               <img src="app/img/action-replay.png">Action Replay<i class="pull-right fa" ng-class="{'fa-angle-up': card.showActionReplay, 'fa-angle-down': !card.showActionReplay}"></i>
            </accordion-heading>
            <div>
               <action-replay></action-replay>               
            </div>
         </accordion-group>
      </accordion>
      <div class="sale-extend-wrap" ng-if="card.extendWrap && card.tileType == 'sale'">
         <h4 class="description-title">Description:</h4>
         <p class="description">{{card.description}}</p>
         <accordion class="extend-wrap" close-others="false">
            <accordion-group is-open="card.media">
               <accordion-heading class="media-header">
                  <img src="app/img/action-replay.png">Media<i class="pull-right fa" ng-class="{'fa-angle-up': card.media, 'fa-angle-down': !card.media}"></i>
               </accordion-heading>
               <div>
                  Media
               </div>
            </accordion-group>
            <accordion-group is-open="card.document">
               <accordion-heading class="document-header">
                  <img src="app/img/action-replay.png">Document<i class="pull-right fa" ng-class="{'fa-angle-up': card.document, 'fa-angle-down': !card.document}"></i>
               </accordion-heading>
               <div>
                  Document
               </div>
            </accordion-group>
            <accordion-group is-open="card.location">
               <accordion-heading class="location-header">
                  <img src="app/img/action-replay.png">Location<i class="pull-right fa" ng-class="{'fa-angle-up': card.location, 'fa-angle-down': !card.location}"></i>
               </accordion-heading>
               <div>
                  Location
               </div>
            </accordion-group>
            <accordion-group is-open="card.discover">
               <accordion-heading class="discover-header">
                  <img src="app/img/action-replay.png">Discover<i class="pull-right fa" ng-class="{'fa-angle-up': card.discover, 'fa-angle-down': !card.discover}"></i>
               </accordion-heading>
               <div>
                  Discover
               </div>
            </accordion-group>
         </accordion>
      </div>      
      <div class="offer-extend-wrap" ng-if="card.extendWrap && card.tileType == 'offer'">
         <h4 class="offer-title">Offers</h4>
         <ul class="offers">
            <li class="offer" ng-repeat="offer in card.offers">
               <h5>{{offer.name}}</h4>
               <a class="get-offer-btn btn" href="{{offer.affilliateLink}}" target="_blank">Get This Offer</a>
               <p class="offer-detail"><span class="expires"><b>Expires {{offer.expire_days}} days</b></span> - Ends: {{offer.enddate}} - <span class="description">{{offer.description}}</span></p>
            </li>
         </ul>
      </div>
   </div>
</div>
<div ng-if="card.tileType == 'poll'" class="yabrTile-body">
   <div class="ribbon" ng-if="card.isRecommended == true"><span>Recommended</span></div>
   <div class="poll-header">
      <h4>Poll</h4>
      <small>{{card.title}}</small>
   </div>
   <div class="poll-content">
      <h4>{{card.poll[0].question}}</h4>
      <div ng-repeat="choice in card.poll[0].choices" class="choices">
         <label>
            <input type="radio" value="{{choice.answer}}">
            {{choice.answer}}
         </label>
         <span>{{choice.rate}}</span>
         <br/>
      </div>
   </div>   
   <div class="tile-infos">
      <div class="icons">
         <a class="check-btn"><img src="app/img/check.png"></a>
         <a class="net-btn"><img src="app/img/fish-net.png"></a>
         <a class="share-btn"><img src="app/img/share-alt.png"></a>
         <a class="comment-btn"><img src="app/img/comment.png"></a>
         <span>{{card.commentCount}} Comments</span>         
         <a class="more pull-right" ng-click="showExtend()">
            <img ng-if="card.extendWrap" src="app/img/less.png">
            <img ng-if="!card.extendWrap" src="app/img/more.png">
         </a>
      </div>
      <accordion class="extend-wrap" ng-if="card.extendWrap" close-others="false">
         <accordion-group is-open="card.participants.open" class="participants-group">
            <accordion-heading>
               <img src="app/img/participants.png">Participants <i class="pull-right fa" ng-class="{'fa-angle-up': participants.open, 'fa-angle-down': !participants.open}"></i>
            </accordion-heading>
            <ul>
               <li ng-repeat="participant in card.participants">
                  <img src="{{participant.avatar}}"></img>
                  <span class="name">{{participant.name}}</span>
                  <a class="follow_btn">Follow</a>
               </li>
            </ul>
         </accordion-group>
         <accordion-group is-open="card.location.open" class="location-group">
            <accordion-heading>
               <img src="app/img/location.png">Location <i class="pull-right fa" ng-class="{'fa-angle-up': location.open, 'fa-angle-down': !location.open}"></i>
            </accordion-heading>            
         </accordion-group>
         <accordion-group is-open="card.attend.open" class="attend-group">
            <accordion-heading>
               <img src="app/img/attending.png" style="width: 20px; margin-right: 10px;">Attending <i class="pull-right fa" ng-class="{'fa-angle-up': attend.open, 'fa-angle-down': !attend.open}"></i>
            </accordion-heading>
            <div class="button"><button type="button" class="btn attend-btn pull-left enable">Attend</button></div>
            <div class="button"><button type="button" class="btn maybe-btn center-block disable">Maybe</button></div>
            <div class="button"><button type="button" class="btn notgoing-btn pull-right disable">Not going</button></div>
         </accordion-group>
      </accordion>
   </div>
</div>