<div ng-controller="myTileController" ng-if="card == 'newTile'" ng-include="'app/views/new-tile.html'"></div>
<div ng-controller="tileController" id="{{'tile_'+card.externalId}}" ng-if="card.tileType == 'content' || card.tileType == 'event' || card.tileType == 'sale' || card.tileType == 'offer' || card.tileType == 'business' || card.tileType == 'job' || card.tileType == 'swap' || card.tileType == 'article'" class="yabrTile-body">
   <tile-image class="tile-image" image-src="card.creatives[0].url" tile-id="card.externalId" tile="card" on-complete="onComplete(creative)"></tile-image>
   <tile-video tile-id="card.externalId"></tile-video>
   <div class="tile-infos">
      <h4 class="title">{{card.name}}<i class="fa fa-angle-right fg-lg"></i></h4>
      <p class="date"><span>{{card.publishedDate}}</span></p>
      <div class="icons">
         <a class="check-btn" ng-click="addToLink = !addToLink">
            <img ng-src="{{addToLink? ('app/img/check.png'): ('app/img/check-o.png')}}">
            <span ng-style="{'color': addToLink? '#3abeef':'#ccc'}">Like</span>
         </a>
         <a class="net-btn" ng-click="loadNets(card);card.addToNet = !card.addToNet">
            <img ng-src="{{card.addToNet? ('app/img/fish-net.png'): ('app/img/fish-net-o.png')}}">
            <span ng-style="{'color': card.addToNet? '#3abeef':'#ccc'}">My Net</span>
         </a>
         <a class="share-btn" ng-click="addToShare = !addToShare">
            <img ng-src="{{addToShare? ('app/img/share-alt.png'): ('app/img/share-alt-o.png')}}">
            <span ng-style="{'color': addToShare? '#3abeef':'#ccc'}">Share</span>
         </a>
         <a class="comment-btn" ng-click="addToComment = !addToComment">
            <img ng-src="{{addToComment? ('app/img/comment.png'): ('app/img/comment-o.png')}}">
            <span ng-style="{'color': addToComment? '#3abeef':'#ccc'}">Comment</span>
         </a>
         <a class="more pull-right" ng-click="extendTile(card)">
            <img ng-src="{{card.moreImg}}">
         </a>
      </div>
      <tile-video-list tile-id="card.externalId"></tile-video-list>
      <div class="add-to-net" ng-if="card.addToNet">
         <div ng-if="netsLoading" class="ball-clip-rotate loading">
            <div></div>
         </div>
         <ul ng-if="!netsLoading" infinite-scroll="getTileNets(card)" infinite-scroll-container="'.add-to-net'" infinite-scroll-immediate-check="false">
            <li ng-repeat="net in nets track by $index"><span>{{net.name}}</span><button class="btn btn-default" ng-click="updateTileToNet(net, card.externalId, net.opt)" ng-class="{'add' : net.opt == 'add', 'remove' : net.opt == 'remove'}">{{net.opt | uppercase}}</button></li>
            <li><input type="text" class="new-net form-control" placeholder="New Net Name"><button class="btn btn-default">NEW</button></li>
         </ul>
      </div>
      <accordion class="extend-wrap" ng-if="card.extendWrap && card.tileType == 'article'" close-others="false">
         <accordion-group is-open="card.showActionReplay">
            <accordion-heading class="actionReplay-header">
               <img src="app/img/action-replay.png">Action Replay<i class="pull-right fa" ng-class="{'fa-angle-up': card.showActionReplay, 'fa-angle-down': !card.showActionReplay}"></i>
            </accordion-heading>
            <div>
               Action Replay
            </div>
         </accordion-group>
      </accordion>
      <accordion class="extend-wrap" ng-if="card.extendWrap && card.tileType == 'content'" close-others="false">
         <accordion-group is-open="card.showActionReplay">
            <accordion-heading class="actionReplay-header">
               <img src="app/img/action-replay.png">Action Replay<i class="pull-right fa" ng-class="{'fa-angle-up': card.showActionReplay, 'fa-angle-down': !card.showActionReplay}"></i>
            </accordion-heading>
            <div>
               Action Replay
            </div>
         </accordion-group>
      </accordion>
      <accordion class="extend-wrap" ng-if="card.extendWrap && card.tileType == 'event'" close-others="false">
         <accordion-group is-open="card.showEvents">
            <accordion-heading class="event-header">
               <img src="app/img/event.png">Events
               <i class="pull-right fa" ng-class="{'fa-angle-up': card.showEvents, 'fa-angle-down': !card.showEvents}"></i>
               <p ng-if="card.eventName && card.className && card.showEvents">
                  <span>{{card.eventName}}</span>
                  <span>/{{card.className}}</span>
               </p>
            </accordion-heading>
            <div class="section">
               <event-list tile="card"></event-list>
               <event-edit></event-edit>               
               <div ng-if="true">
                  <class-list class="class-list" tile="card"></class-list>
                  <race-list></race-list>
               </div>
            </div>
         </accordion-group>
         <accordion-group is-open="card.showActionReplay">
            <accordion-heading class="actionReplay-header">
               <img src="app/img/action-replay.png">Action Replay<i class="pull-right fa" ng-class="{'fa-angle-up': card.showActionReplay, 'fa-angle-down': !card.showActionReplay}"></i>
            </accordion-heading>
            <div>
               <action-replay></action-replay>               
            </div>
         </accordion-group>
      </accordion>
      <div class="offer-extend-wrap" ng-if="card.extendWrap && card.tileType == 'offer'" infinite-scroll='getOffers(card)' infinite-scroll-disabled='bOffersScrollDisabled'>
         <h4 class="offer-title">Offers</h4>
         <ul class="offers">
            <li class="offer" ng-repeat="offer in offers">
               <h5>{{offer.name}}</h4>
               <a class="get-offer-btn btn" href="{{offer.affilliateLink}}" target="_blank">Get This Offer</a>
               <p class="offer-detail"><span class="expires"><b>Expires {{offer.expire_days}} days</b></span> - Ends: {{offer.enddate}} - <span class="description">{{offer.description}}</span></p>
            </li>
         </ul>
      </div>
   </div>
</div>
<div ng-if="card.tileType == 'poll'" class="yabrTile-body">
   <div class="ribbon" ng-if="card.isRecommended == true"><span>Recommended</span></div>
   <div class="poll-header">
      <h4>Poll</h4>
      <small>{{card.title}}</small>
   </div>
   <div class="poll-content">
      <h4>{{card.poll[0].question}}</h4>
      <div ng-repeat="choice in card.poll[0].choices" class="choices">
         <label>
            <input type="radio" value="{{choice.answer}}">
            {{choice.answer}}
         </label>
         <span>{{choice.rate}}</span>
         <br/>
      </div>
   </div>   
   <div class="tile-infos">
      <div class="icons">
         <a class="check-btn"><img src="app/img/check.png"></a>
         <a class="net-btn"><img src="app/img/fish-net.png"></a>
         <a class="share-btn"><img src="app/img/share-alt.png"></a>
         <a class="comment-btn"><img src="app/img/comment.png"></a>
         <span>{{card.commentCount}} Comments</span>         
         <a class="more pull-right" ng-click="showExtend()">
            <img ng-if="card.extendWrap" src="app/img/less.png">
            <img ng-if="!card.extendWrap" src="app/img/more.png">
         </a>
      </div>
      <accordion class="extend-wrap" ng-if="card.extendWrap" close-others="false">
         <accordion-group is-open="card.participants.open" class="participants-group">
            <accordion-heading>
               <img src="app/img/participants.png">Participants <i class="pull-right fa" ng-class="{'fa-angle-up': participants.open, 'fa-angle-down': !participants.open}"></i>
            </accordion-heading>
            <ul>
               <li ng-repeat="participant in card.participants">
                  <img src="{{participant.avatar}}"></img>
                  <span class="name">{{participant.name}}</span>
                  <a class="follow_btn">Follow</a>
               </li>
            </ul>
         </accordion-group>
         <accordion-group is-open="card.location.open" class="location-group">
            <accordion-heading>
               <img src="app/img/location.png">Location <i class="pull-right fa" ng-class="{'fa-angle-up': location.open, 'fa-angle-down': !location.open}"></i>
            </accordion-heading>            
         </accordion-group>
         <accordion-group is-open="card.attend.open" class="attend-group">
            <accordion-heading>
               <img src="app/img/attending.png" style="width: 20px; margin-right: 10px;">Attending <i class="pull-right fa" ng-class="{'fa-angle-up': attend.open, 'fa-angle-down': !attend.open}"></i>
            </accordion-heading>
            <div class="button"><button type="button" class="btn attend-btn pull-left enable">Attend</button></div>
            <div class="button"><button type="button" class="btn maybe-btn center-block disable">Maybe</button></div>
            <div class="button"><button type="button" class="btn notgoing-btn pull-right disable">Not going</button></div>
         </accordion-group>
      </accordion>
   </div>
</div>