<h3>
   <!-- START Language list-->
   <div class="pull-right">
      <div dropdown="" is-open="language.listIsOpen" class="btn-group">
         <button type="button" dropdown-toggle="" class="btn btn-default">{{language.selected}}
            <span class="caret"></span>
         </button>
         <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)">{{langName}}</a>
            </li>
         </ul>
      </div>
   </div>
   <!-- END Language list    -->
   Single View
   <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>
<div class="row">
   <div class="col-xs-12 text-center">
      <h2 class="text-thin">Single view content</h2>
      <p>This project is an application skeleton. You can use it to quickly bootstrap your angular webapp projects and dev environment for these projects.
      <br/>Developed by Andy Steward</p>
      <div id="player"></div>
      <script type="text/javascript">
          var conf = {
              key:       "525b4ea5bdadf4ae74ab40546a6be359",
              source: {                
                hls: 'http://88.208.233.3:1935/ondemand/_definst_/sailtv/Streaming/16697/A0147___The_Island___Cabrinha_Film-A0147___The_Island___Cabrinha_Film/A0147___The_Island___Cabrinha_Film-Streaming-1843200.mp4/playlist.m3u8'
              }
          };
          var player = bitdash("player").setup(conf);
      </script>
   </div>
</div>