<!--ROW-->
<div class="row col-sm-11 slider-wrap">
   <img src="app/img/slider1.png" alt="Image" class="" />
</div>
<!-- START row-->
<div class="row col-sm-11 yabrTile-wrap">
   <!-- START widget-->
   <div class="yabrTile widget">
      <div class="yabrTile-body">
         <div class="tileImg">
            <img src="app/img/tile1.png" alt="tile" class="" />
         </div>
         <div class="tile-infos">
            <h4 class="title">RYA Push the Boat Out 2015<i class="fa fa-angle-right fg-lg"></i></h4>
            <p class="date"><span>9th - 17th May 2015</span></p>
            <div class="icons">
               <a><i class="fa fa-check fa-2x"></i></a>
               <a><i class="fa fa-star fa-2x"></i></a>
               <a><i class="fa fa-repeat fa-2x"></i></a>
               <a><i class="fa fa-comment fa-2x"></i></a>
               <span>3 Comments</span>
               <a class="right"><i class="fa fa-ellipsis-h fa-2x"></i></a>
            </div>
         </div>
      </div>
   </div>
   <!-- END widget-->
   <!-- START widget-->
   <div class="yabrTile widget right">
      <div class="yabrTile-body">
         <div class="tileImg">
            <img src="app/img/tile1.png" alt="tile" class="" />
         </div>
         <div class="tile-infos">
            <h4 class="title">RYA Push the Boat Out 2015<i class="fa fa-angle-right fg-lg"></i></h4>
            <p class="date"><span>9th - 17th May 2015</span></p>
            <div class="icons">
               <a><i class="fa fa-check fa-2x"></i></a>
               <a><i class="fa fa-star fa-2x"></i></a>
               <a><i class="fa fa-repeat fa-2x"></i></a>
               <a><i class="fa fa-comment fa-2x"></i></a>
               <span>3 Comments</span>
               <a class="right"><i class="fa fa-ellipsis-h fa-2x"></i></a>
            </div>
         </div>
      </div>
   </div>
   <!-- END widget-->
</div>
