<!--ROW-->
<div class="row col-sm-11 slider-wrap">
   <img src="app/img/slider1.png" alt="Image" class="" />
</div>
<!-- START row-->
<div class="row col-sm-11 yabrTile-wrap">
   <div class="col-sm-6">
      <!-- START widget-->
      <div class="yabrTile widget">
         <div class="yabrTile-body">
            <div class="row row-table">
               <div class="col-xs-6 text-center">
                  <img src="app/img/Suppliers/nielson/oct-half-term-sq.png" alt="Image" class="img-circle thumb96" />
               </div>
               <div class="col-xs-6">
                  <h3 class="mt0">Nielson Holidays</h3>
                  <ul class="list-unstyled">
                     <li class="mb-sm">
                        <em class="fa fa-map-marker fa-fw"></em>ASD, Qwerty</li>
                     <li class="mb-sm">
                        <em class="fa fa-twitter fa-fw"></em>@asdasd</li>
                     <li class="mb-sm">
                        <em class="fa fa-envelope fa-fw"></em>asdasd@mail.com</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="yabrTile-body bg-inverse">
            <div class="row row-table text-center">
               <div class="col-xs-4">
                  <p class="m0 h3">700</p>
                  <p class="m0 text-muted">Followers</p>
               </div>
               <div class="col-xs-4">
                  <p class="m0 h3">1500</p>
                  <p class="m0 text-muted">Following</p>
               </div>
               <div class="col-xs-4">
                  <p class="m0 h3">510</p>
                  <p class="m0 text-muted">Loved</p>
               </div>
            </div>
         </div>
      </div>
      <!-- END widget-->
   </div>
   <div class="col-sm-6">
      <!-- START widget-->
      <div class="yabrTile widget">
         <div class="yabrTile-body">
            <div class="row row-table">
               <div class="col-xs-6 text-center">
                  <img src="app/img/user/09.jpg" alt="Image" class="img-circle thumb96" />
               </div>
               <div class="col-xs-6">
                  <h3 class="mt0">Paddle Boarding</h3>
                  <ul class="list-unstyled">
                     <li class="mb-sm">
                        <em class="fa fa-map-marker fa-fw"></em>ASD, Qwerty</li>
                     <li class="mb-sm">
                        <em class="fa fa-twitter fa-fw"></em>@asdasd</li>
                     <li class="mb-sm">
                        <em class="fa fa-envelope fa-fw"></em>asdasd@mail.com</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="yabrTile-body bg-inverse">
            <div class="row row-table text-center">
               <div class="col-xs-4">
                  <p class="m0 h3">700</p>
                  <p class="m0 text-muted">Followers</p>
               </div>
               <div class="col-xs-4">
                  <p class="m0 h3">1500</p>
                  <p class="m0 text-muted">Following</p>
               </div>
               <div class="col-xs-4">
                  <p class="m0 h3">510</p>
                  <p class="m0 text-muted">Loved</p>
               </div>
            </div>
         </div>
      </div>
      <!-- END widget-->
   </div>
</div>
<!-- START row-->
<div class="row col-sm-11 yabrTile-wrap">
   <div class="col-sm-6">
      <!-- START widget-->
      <div class="panel widget">
         <div class="row row-table row-flush">
            <div class="col-xs-5">
               <img src="app/img/bg2.jpg" alt="" class="img-circle thumb96" />
            </div>
            <div class="col-xs-7 align-middle p-lg">
               <div class="pull-right"><a href="#" class="btn btn-primary btn-sm">Register</a>
               </div>
               <p>
                  <span class="text-lg">12</span>Sep</p>
               <p>
                  <strong>EVENT INVITATION</strong>
               </p>
               <p>Southampton Boat Show</p>
            </div>
         </div>
      </div>
      <!-- END widget-->
   </div>
   <div class="col-sm-6">
      <!-- START widget-->
      <div class="panel widget">
         <div class="panel-body bg-danger text-center">
            <div class="clearfix">
               <div class="pull-left">200 Following</div>
               <div class="pull-right">150 Followers</div>
            </div>
            <img src="app/img/user/06.jpg" alt="Image" class="img-thumbnail img-circle thumb96" />
            <h4 class="mt0">Lois Berry</h4>
            <p class="m0">
               <em class="fa fa-fw fa-map-marker"></em>San Francisco, California</p>
            <div class="clearfix">
               <div class="pull-left">15k Likes</div>
               <div class="pull-right">100 Feeds</div>
            </div>
         </div>
      </div>
      <!-- END widget-->
   </div>
</div>